{% load app_filters %}
{% load feed_filters %}{% linebreakless %}
<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/media/static/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ the_site_name }}</title>
    {% if not bs4 %}
    <link rel="stylesheet" href="/static/main.css">
    {% else %}
    <link rel="stylesheet" href="/static/main-bs4.css">
    {% endif %}
    <link rel="canonical" href="{{ base_url }}">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <style>
       @font-face { font-family: 'EmojiFlag'; src: url('/static/fonts/NotoColorEmoji-flagsonly.ttf'); }
    </style>
  </head>
  <body>
    {% if show_ads %}
    {% include 'google_adsense_head_code.html' %}
    {% endif %}
    {% if not hidega %}
    {% include 'gtmbody.html' %}
    {% endif %}
    {% load cookielaw_tags %}
    {% if cookielaw.notset %}{% rejectable_cookielaw_banner %}{% endif %}
    {% include 'navbar.html' %}
    <div style="height: 120px;"></div>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="{% url 'users:register' %}">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <img src="{{ icon_url }}" alt="{{ the_site_name }}" width="30" height="30" style="border-radius: 50%;">
            <a class="blog-header-logo text-dark" href="{% url 'feed:profile' my_user.profile.name %}">{{ the_site_name }}</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="{% url 'misc:search' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:register' %}">{{ 'Sign up'|etrans }}</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:login' %}">{{ 'Log in'|etrans }}</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
          <div class="mx-auto" style="width: 100%; overflow-x: scroll;">
              <nav class="nav d-flex justify-content-between">
                {% for feed in feeds %}
                <a class="p-2 text-muted" href="{% url 'feed:profile' my_user.profile.name %}?feed={{ feed }}">{{ feed|caps }}</a>
                {% endfor %}
              </nav>
          </div>
      </div>

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url('{{ posts.0.get_image_thumb_url }}'); background-size: cover; background-position: center; min-height: 300px;">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic" style="color: white;">{{ posts.0.id|shorttitle }}</h1>
          <p class="lead my-3">{{ posts.0.id|shortdescription }}</p>
          <p class="lead mb-0"><a href="{{ posts.0.get_absolute_url }}" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ posts.1.feed|caps }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{{ posts.1.get_absolute_url }}">(Featured post) {{ posts.1.id|shorttitle }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ posts.1.date_posted }}</div>
              <p class="card-text mb-auto">{{ posts.1.id|shortdescription }}</p>
              <a href="{{ posts.1.get_absolute_url }}">Continue reading</a>
            </div>
            {% if posts.1.image %}
            <img class="card-img-right flex-auto d-none d-md-block" src="{{ posts.1.get_image_thumb_url }}" alt="Card image cap" style="width: 170px; height: 170px;">
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ posts.2.feed|caps }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{{ posts.2.get_absolute_url }}">{{ posts.2.id|shorttitle }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ posts.2.date_posted }}</div>
              <p class="card-text mb-auto">{{ posts.2.id|shortdescription }}</p>
              <a href="{{ posts.2.get_absolute_url }}">Continue reading</a>
            </div>
            {% if posts.2.image %}
            <img class="card-img-right flex-auto d-none d-md-block" src="{{ posts.2.get_image_thumb_url }}" alt="Card image cap" style="width: 170px; height: 170px;">
            {% endif %}
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ posts.3.feed|caps }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{{ posts.3.get_absolute_url }}">{{ posts.3.id|shorttitle }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ posts.3.date_posted }}</div>
              <p class="card-text mb-auto">{{ posts.3.id|shortdescription }}</p>
              <a href="{{ posts.3.get_absolute_url }}">Continue reading</a>
            </div>
            {% if posts.3.image %}
            <img class="card-img-right flex-auto d-none d-md-block" src="{{ posts.3.get_image_thumb_url }}" alt="Card image cap" style="width: 170px; height: 170px;">
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ posts.4.feed|caps }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{{ posts.4.get_absolute_url }}">{{ posts.4.id|shorttitle }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ posts.4.date_posted }}</div>
              <p class="card-text mb-auto">{{ posts.4.id|shortdescription }}</p>
              <a href="{{ posts.4.get_absolute_url }}">Continue reading</a>
            </div>
            {% if posts.4.image %}
            <img class="card-img-right flex-auto d-none d-md-block" src="{{ posts.4.get_image_thumb_url }}" alt="Card image cap" style="width: 170px; height: 170px;">
            {% endif %}
          </div>
        </div>
      </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            From the press
          </h3>

          {% for post in private_posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.id|shorttitle }}</h2>
            <p class="blog-post-meta">{{ post.date_posted }} by <a href="{% url 'feed:profile' post.author.profile.name%}">{{ post.author.profile.name }}</a> in feed {{ post.feed|caps }}</p>
            <p>{{ post.content }}</p>
            {% if post.image %}
            <img src="{{ post.get_image_thumb_url }}" alt="Card image cap" style="width: 100%; height: auto;">
            {% endif %}
            <a href="{{ post.get_absolute_url }}">Continue reading</a>
            <hr style="visibility: hidden;">
          </div><!-- /.blog-post -->
          {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="{% url 'feed:profile' my_user.profile.name %}?page=2&feed=private">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

          {% for post in blog_posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.id|shorttitle }}</h2>
            <p class="blog-post-meta">{{ post.date_posted }} by <a href="{% url 'feed:profile' post.author.profile.name%}">{{ post.author.profile.name }}</a> in feed {{ post.feed|caps }}</p>
            <p>{{ post.content }}</p>
            {% if post.image %}
            <img src="{{ post.get_image_thumb_url }}" alt="Card image cap" style="width: 100%; height: auto;">
            {% endif %}
            <a href="{{ post.get_absolute_url }}">Continue reading</a>
            <hr style="visibility: hidden;">
          </div><!-- /.blog-post -->
          {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="{% url 'feed:profile' my_user.profile.name %}?page=2&feed=blog">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Lotte Harper is a web and app developer, author, musician and entreprenuer living in the Seattle area of Washington State.</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="{% url 'feed:profile' my_user.profile.name %}?feed=private">Profile</a></li>
              <li><a href="{% url 'feed:profile-grid' my_user.profile.name %}?feed=private">Grid</a></li>
              <li><a href="{% url 'feed:profile' my_user.profile.name %}?feed=news">News</a></li>
              <li><a href="{% url 'landing:landing' %}">About</a></li>
              <li><a href="{% url 'landing:index' %}">Landing</a></li>
              <li><a href="https://glamgirlx.com">Glam Girl X</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="{{ github_url }}">GitHub</a></li>
              <li><a href="{{ twitter_url }}">Twitter</a></li>
              <li><a href="{{ linkedin_url }}">LinkedIn</a></li>
              <li><a href="{{ youtube_link }}">YouTube</a></li>
              <li><a href="{{ podcast_link }}">Podcast</a></li>
              <li><a href="https://push.fm/fl/b9nhmydl">Music</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <script src="/static/main.js"></script>
    {% block javascripts %}{% endblock %}
    <script>
    {% include 'security/session_injection.js' %}
    $(document).ready(function() {
            {% if not hidenavbar %}
            {% if polling_now %}
        var hideVoteCookie = getCookie("hidevotebanner") != '';
        if(document.getElementById('vote-banner') && hideVoteCookie) { document.getElementById('vote-banner').classList.add('fade-hidden'); }
        else if(document.getElementById('vote-banner')) { document.getElementById('vote-banner').classList.remove('fade-hidden');
        document.getElementById('vote-banner').classList.remove('hide'); }
        {% endif %}
        try {
            $(document.getElementById("clemn-navbar")).autoHidingNavbar().show();
        } catch {}
            {% endif %}
            {% if splash %}
                    {% include 'feed/modal.js' %}
            {% endif %}
            {% include 'accl_logout.js' %}
            {% include 'clock.js' %}
            {% if not webpush_override and not request.path == '/verify/age/' and not request.has_push_cookie %}
                    {% include 'webpush.js' %}
            {% elif webpush_override %}
                    {% include 'webpush.js' %}
            {% endif %}
            setTimeout(function() {
                    $("#django-messages-container").addClass("fade-hidden");
                    setTimeout(function() {
                            $("#django-messages-container").addClass("shrink-fast");
                            setTimeout(function() {
                                    $("#django-messages-container").addClass("hide");
                            }, 1000);
                    }, 2000);
            }, 20000);
        {% if preload and not disable_preload %}
            {% if load_timeout %}
        setTimeout(function(){
                    $('body').addClass('loaded');
                    $('#loader-wrapper-init').addClass('hide');
            }, {% if load_timeout %}{{ load_timeout }}{% else %}{% endif %});
        {% else %}
            $('body').addClass('loaded');
            $('#loader-wrapper-init').addClass('hide');
        {% endif %}
            setTimeout(function() {
                    $('#loader-wrapper-init').addClass('fade-hidden-fast');
            }, 100);
        {% endif %}
        try {
            var qrdiv = document.getElementById("shareqrcode");
                if(!qrdiv) return;
            var qr = $('#shareqrcode').kjua({text: '{{ base_url }}{{ request.path }}{% if request.GET %}?{% for key, value in request.GET.items %}{{key}}={{value}}{% if forloop.counter < request.GET|length %}&{% endif %}{% endfor %}{% endif %}', render: 'svg'});
            var image = qrdiv.querySelector('svg');
            image.style.width = "100%";
            image.style.height = "auto";
            image.style.maxWidth = "400px";
            function downloadSVG() {
                const svg = document.getElementById('shareqrcode').querySelector('svg');

                const serializer = new XMLSerializer();
                let source = serializer.serializeToString(svg);

                if (!source.match(/^<svg[^>]+xmlns=\"http:\/\/www\.w3\.org\/2000\/svg\"/)) {
                    source = source.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
                }
                if (!source.match(/^<svg[^>]+\"http:\/\/www\.w3\.org\/1999\/xlink\"/)) {
                    source = source.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
                }
                source = '<?xml version="1.0" standalone="no"?>\r\n' + source;

                const url = "data:image/svg+xml;charset=utf-8," + encodeURIComponent(source);

                const downloadLink = document.createElement('a');
                downloadLink.href = url;
                downloadLink.download = ('{{ the_site_name }} - QR Code').replaceAll(' ', '_');

                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            }
            function downloadQr(){
                downloadSVG();
            }
            qrdiv.onclick = downloadQr;
        } catch(error) {
            document.getElementById('javascript-console').insertAdjacentHTML("beforeend", '<div>' + new String(error) + '</div>');
        }
    });
    {% include 'report.js' %}
    </script>
    {% if show_ads and not hiderrm %}
    {% include 'rrm.html' %}
    {% endif %}

    <script>
        if (navigator.serviceWorker) {
            navigator.serviceWorker.register (
                '/serviceworker.js',
                {scope: '/'}
            )
        }
    </script>
    {% if not headjs %}
    {% if not bs4 %}
    <script src="/static/main.js"></script>
    {% else %}
    <script src="/static/main-bs4.js"></script>
    {% endif %}
    {% endif %}
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
{% endlinebreakless %}
