{% extends 'base.html' %}
{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}"></script>
{% endblock %}
{% block content %}
{% load app_filters %}
<legend>{{ 'Visitor IP Location'|etrans }}</legend>
<div id="map" style="z-index: 100; width: 100%; height: 85vh;"></div>
{% endblock %}
{% block javascript %}
const points = [
    {% for lat, lng in latlngs %}
    { lat: {{ lat }}, lng: {{ lng }} },
    {% endfor %}
];
function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: points[0],
    });
    points.forEach((point) => {
        new google.maps.Marker({
            position: point,
            map: map,
        });
    });
}
window.onload = initMap;
{% endblock %}
