{% extends 'base.html' %}
{% block head %}
{% if use_prism %}
<script type="text/javascript" src="/static/js/prism.js"></script>
<script type="text/javascript" src="/static/qrcode.min.js"></script>
<link rel="stylesheet" href="/static/css/prism.css">
{% endif %}
{% endblock %}
{% block content %}
{% load app_filters %}
<h1>{{ 'Search'|etrans }}</h1>
{% if request.GET.q %}
<p>{% blocktrans %}Your search, "{{ request.GET.q }}", returned {{ count|nts }} results.{% endblocktrans %}</p>
<a class="btn btn-sm btn-outline-info" title="Grid view" href="{{ request.path }}?grid=true&{% get_qs %}">Grid</a>
{% include 'language.html' %}
<hr style="background-color: red;">
{% for post in posts %}
{% include 'feed/_post.html' %}
{% endfor %}
{% include 'pagelinks.html' %}
{% include 'search.html' %}
{% include 'social.html' %}
{% include 'banner_ad.html' %}
{% else %}
<p>{{ 'Please enter a query in the navbar to begin your search.'|etrans }}</p>
{% include 'search.html' %}
{% endif %}
{% endblock %}
{% block javascript %}
{% if use_prism %}Prism.highlightAll();{% endif %}
{% include 'reader.js' %}
{% endblock %}
