{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<legend>Update Survey <a href="{% url 'survey:surveys' %}" class="btn btn-sm btn-outline-info" style="float: right;">Surveys</a></legend>
<form method="POST" id="survey-form">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" id="submit-button" class="btn btn-outline-info pink-borders">Submit</button>
</form>
{% endblock %}
{% block javascript %}
$('#survey-form').on('submit', function(){
        document.getElementById('submit-button').disabled = true;
});
{% endblock %}
