celery/log/
media/images/
media/secure/
db.json
experiments/
dlib/
temp/
gfpgan/
venv/
venv-new/
GFPGAN/
ta-lib/
ta-lib*
violence-detection/
stunserver/
bitdefender/
setup_downloader.tar*
celerybeat-schedule*
keys/*
mailbox/root
db.json.*
client_secret.json
mailbox/
data/
scripts/initialize
config/etc_dovecot_passwd
config/config.json
config/apis.json
media/images
media/documents
media/files
media/birthcontrol
cache/
log/
secure/
email/
celerybeat-schedule/
