absl-py
AccessControl
Acquisition
aiosignal
altair
AMFM_decompy
amqp
annotated-types
apprise
asn1crypto
astral
astunparse
AuthEncoding
Automat
base58check
bcrypt
beautifulsoup4
bech32
better-profanity
billiard
bitarray
blake256
bleach
blinker
boto3
botocore
BTrees
cbor
cbor2
celery
certifi
Chameleon
chardet
ckzg
coinaddrvalidator
coloredlogs
constantly
contourpy
crepe
crispy-bootstrap4
cssselect
cycler
Cython
cytoolz
DateTime
decorator
deepface
Django
django-address
django-allauth
django-cors-headers
django-crispy-forms
django-db-connection-pool
django-extensions
django-jsignature
django-recaptcha
django-simple-history
django-storages
django-summernote
django-webauth
django-webpush
dnspython
DocumentTemplate
dsplib
email_validator
eth-account
eth-hash
eth-keyfile
eth-keys
eth-rlp
eth-typing
eth-utils
eth_abi
ExtensionClass
facexlib
ffmpeg
filelock
filterpy
fire
flask-cors
flatbuffers
fonttools
frozenlist
fsspec
ftfy
future
gast
gdown
# Editable Git install with no remote (gfpgan
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-oauth
google-pasta
googleapis-common-protos
googletrans
greenlet
groestlcoin_hash2
grpcio
gunicorn
h11
h2
h3
h5py
hexbytes
hf-xet
hmmlearn
hpack
hstspreload
http_ece
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
hyperframe
hyperlink
idna
ijson
imageio
imageio-ffmpeg
importlib-metadata
imutils
incremental
itsdangerous
jellyfish
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
jwt
keras
kiwisolver
kombu
langdetect
lazy_loader
libclang
llvmlite
lmdb
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
moviepy
mpmath
msgpack
mtcnn
multidict
MultiMapping
multipart
namex
narwhals
networkx
nudenet
numba
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauth2client
oauthlib
onnxruntime
openai
openai-clip
opt_einsum
optree
packaging
pandas
parsimonious
PasteDeploy
pdf417
pedalboard
penn
Persistence
persistent
pillow
pitch-detectors
platformdirs
pooch
praat-parselmouth
priority
proglog
prompt_toolkit
propcache
proto-plus
protobuf
psycopg-binary
psycopg2
pyaml
pyarrow
pyasn1
pyasn1_modules
pycares
pycparser
pycryptodome
pydeck
pydub
pyFLAC
Pygments
pyheif
PyJWT
PyNaCl
pyOpenSSL
pyotp
pyparsing
pyquery
pyreaper
PySocks
pysptk
pytesseract
python-cryptapi
python-dateutil
python-docx
python-dotenv
python-gettext
python-magic
pytz
pyunormalize
pyworld
PyYAML
realesrgan
realtime-crypto
redis
referencing
regex
requests
requests-oauthlib
resampy
RestrictedPython
retina-face
rfc3986
rich
rlp
roman
rpds-py
rsa
s3transfer
safetensors
scikit-image
scikit-learn
scipy
sentry-sdk
sewar
six
smmap
sniffio
soundfile
soupsieve
soxr
SpeechRecognition
SQLAlchemy
sqlparams
sqlparse
srt
streamlit
stripe
sympy
ta-lib
tb-nightly
tenacity
tensorboard
tensorboard-data-server
tensorrt
tensorrt_cu12
tensorrt_cu12_bindings
tensorrt_cu12_libs
termcolor
tf_keras
threadpoolctl
tifffile
timezonefinder
tokenizers
toml
toolz
torbi
torch
torch-yin
torchaudio
torchcrepe
torchutil
torchvision
tornado
tqdm
transaction
transformers
triton
Twisted
txaio
types-requests
typing-inspection
tzdata
tzlocal
uritemplate
uritools
urlextract
validators
vine
vosk
waitress
watchdog
wcwidth
web3
webencodings
WebOb
webrtcvad
websockets
WebTest
Werkzeug
whatimage
wheel
wrapt
WSGIProxy2
yapecs
yapf
yarl
z3c.pt
zc.lockfile
ZConfig
zExceptions
zipp
ZODB
zodbpickle
Zope
zope.annotation
zope.browser
zope.browsermenu
zope.browserpage
zope.browserresource
zope.cachedescriptors
zope.component
zope.configuration
zope.container
zope.contentprovider
zope.contenttype
zope.datetime
zope.deferredimport
zope.deprecation
zope.dottedname
zope.event
zope.exceptions
zope.filerepresentation
zope.globalrequest
zope.hookable
zope.i18n
zope.i18nmessageid
zope.interface
zope.lifecycleevent
zope.location
zope.pagetemplate
zope.processlifetime
zope.proxy
zope.ptresource
zope.publisher
zope.schema
zope.security
zope.sequencesort
zope.site
zope.size
zope.structuredtext
zope.tal
zope.tales
zope.testbrowser
zope.testing
zope.traversing
zope.viewlet
zxing
setuptools
twilio
autocorrect
paramiko
ccxt
numpy
urllib3
webauthn
