Hello {{ username }},

You have been scheduled by {{ meeting.created_by.profile.name }} to join a video meeting online with {{ site_name }}.
The meeting starts on {{ start_time }}. Please click the link below or paste it into the navbar to download the attached invite and add it to your calendar for reference by opening it on your device.

<a href="{{ calendar_link }}">{{ calendar_link }}</a>

The invite contains a link to a video meeting. Please click the link in the description of the invite in your calendar and join the meeting from your phone, tablet, or other device. The invite also contains a link to a QR code, which can be scanned by any smart device with a camera in order to open the meeting.
When the meeting starts, please click the link below or paste it into your navbar. The link is also in the invite.

<a href="{{ meeting_link }}">{{ meeting_link }}</a>

We are looking forward to seeing you at your scheduled meeting time.

Sincerely,
{{ site_name }}

