{% extends 'base.html' %}
{% block head %}
<script type="text/javascript" src="/static/qrcode.min.js"></script>
<script src="/static/face/ccv.js" type="text/javascript"></script>
<script src="/static/face/face.js" type="text/javascript"></script>
<style type="text/css">
        * {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          box-sizing: border-box;
        }
        body {
          margin: 0;
          font-size: 14px;
        }
        .centered {
          display: block;
          margin: 0 auto;
        }
        .call-button {
          padding: 1rem 2rem;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          color: white;
          background-color: black;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        }
        #video-container {
          width: 100%;
          min-width: 300px;
        }
        #videos {
          position: relative;
        }
        video {
          background-color: black;
          border-radius: 3px;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        }
        #local-video {
          position: absolute;
          width: 25vw;
          height: 25vw;
          bottom: -30px;
          right: 0px;
        }
        #remote-video {
          width: 100%;
        }
        #please-interact {
          padding: 1rem 2rem;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          color: white;
          background-color: black;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        }
	    .update-button {
          padding: 1rem 2rem;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        }
         .fullscreen-vid {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: white;
            z-index: 10000;
            overflow-y: scroll;
         }
      </style>
{% endblock %}
{% block content %}
{% load app_filters %}
{% load feed_filters %}
<h3>{{ 'Video Chat'|etrans }}</h3>
    <p id="error-message" class="hide" style="text-color: red;">{{ 'Please enable your camera and microphone in your web browser and device settings to continue. Reload to continue.'|etrans }} <button onclick="window.location.reload();" title="Reload page" class="call-button">{{ 'Reload'|etrans }}</button></p>
    <div id="main-screen">
    <div id="all-div" class="hide">
    	<div id="accept-div" class="hide"><div id="accept-text"></div><button onclick="denyCall();" style="color: red;" class="btn">{{ 'Deny'|etrans }}</button><button onclick="acceptCall();" style="color: green;" class="btn">{{ 'Accept'|etrans }}</button><hr></div>
        <p class="hide" id="the-link">{{ base_url }}{% url 'chat:video' %}?key={{ thename }}</p>
    	<small id="members"></small>
    	<hr>
    <p id="call-div">{{ 'Your username is'|etrans }} <b id="thename">{{ thename }}</b> <button id="update-username" class="update-button">{{ 'Update'|etrans }}</button> <button class="call-button" onclick="copyToClipboard('thename');" class="btn btn-outline-primary">{{ 'Copy code'|etrans }}</button> <button class="call-button" onclick="copyToClipboard('the-link');" class="btn btn-outline-primary">{{ 'Copy link'|etrans }}</button></p>
    <button id="call-button" class="call-button">{{ 'Call someone'|etrans }}</button>
    <div>
        <div id="video-container" class="centered hide">
          <div id="videos">
            <video id="local-video" autoplay="autoplay" muted></video>
            <video id="remote-video" autoplay="autoplay"></video>
          </div>
        </div>
    </div>
    <video id="test-video" autoplay="autoplay" class="hide" muted></video>
    <canvas id="canvas" class="hide"></canvas>
</div>
<div style="display: inline-block;"><button id="end-button" class="call-button hide">{{ 'End call'|etrans }}</button><button id="mute" class="btn btn-outline-light hide" {% if not darkmode %}style="border: 1px solid black !important; text-color: black !important;color: black !important;"{% else %}style="border: 1px solid white !important; text-color: white !important; color: white !important;"{% endif %}>{{ 'Mute'|etrans }}</button><button id="still" class="btn btn-outline-info hide" style="color: black;">{{ 'Download Still'|etrans }}</button><button onclick="$('#main-screen').toggleClass('fullscreen-vid');" class="btn btn-outline-success" style="color: black;">{{ 'Toggle Fullscreen'|etrans }}</button></div>
<button class="btn btn-lg btn-outline-primary" id="please-interact">{{ 'Join a meeting'|etrans }}</button>
</div>
<hr>
	  <audio id="ringtone" class="hide">
		  <source src="/media/static/ringtone.mp3" type="audio/mpeg">
		  {{ 'Your browser does not support the audio tag.'|etrans }}
		</audio>
{% include 'social.html' %}
{% endblock %}
{% block javascript %}
{% load app_filters %}
let otherPerson;
REQ_FACE_HEIGHT = 10;
function hideElement(element) {
  element.style.display = "none";
}
function showElement(element) {
  element.style.display = "";
  element.classList.remove("hide");
}
const callButton = document.getElementById("call-button");
const endButton = document.getElementById("end-button");
const callDiv = document.getElementById("call-div");
const allDiv = document.getElementById("all-div");
const pleaseInteract = document.getElementById("please-interact");
const videoContainer = document.getElementById("video-container");
const theLink = document.getElementById("the-link");
const members = document.getElementById("members");
const ringtone = document.getElementById("ringtone");
const errorMessage = document.getElementById("error-message");
const callPrompt = document.getElementById("accept-div");
const localVideo = document.getElementById("local-video");
const remoteVideo = document.getElementById("remote-video");
const updateUsername = document.getElementById("update-username");
const muteButton = document.getElementById("mute");
const stillButton = document.getElementById("still");
const canvas = document.getElementById("canvas");
var context = canvas.getContext('2d');
var scale = 1;
const callText = document.getElementById("accept-text");
var socket;
function sendMessageToSignallingServer(message) {
  const json = JSON.stringify(message);
  socket.send(json);
}
var callAccepted = false;
var callHandled = false;
function acceptCall(){
	callAccepted = true;
	callHandled = true;
	callPrompt.classList.add("hide");
}
function denyCall(){
	callAccepted = false;
	callHandled = true;
	callPrompt.classList.add("hide");
    sendMessageToSignallingServer({'channel': 'end_call', 'otherPerson': otherPerson});
}
function playSound() {
    ringtone.currentTime = 0;
    ringtone.play();
}
function stopSound() {
    ringtone.pause();
}
hideElement(theLink);
var calling = false;
var callStarted = false;
var videoStarted = false;
var webrtc;
function hideVideoCall() {
  if(webrtc && calling) {
     webrtc.close();
 	 sendMessageToSignallingServer({channel: 'end_call', otherPerson});
  }
  videoStarted = false;
  callStarted = false;
  calling = false;
  hideElement(videoContainer);
  hideElement(allDiv);
  showElement(callButton);
  hideElement(endButton);
  hideElement(muteButton);
  hideElement(stillButton);
  showElement(members);
  stopStream();
}
var inter;
var meminter;
endButton.addEventListener("click",  function() {
	hideVideoCall();
    showElement(pleaseInteract);
    showElement(allDiv);
    clearInterval(inter);
});
muteButton.addEventListener("click", function(event) {
	remoteVideo.muted = !remoteVideo.muted;
	if(remoteVideo.muted) {
		muteButton.innerHTML = 'Unmute';
	} else {
		muteButton.innerHTML = 'Mute';
	}
});
function showVideoCall() {
  calling = true;
  hideElement(callButton);
  showElement(videoContainer);
  showElement(endButton);
  showElement(muteButton);
  showElement(stillButton);
  hideElement(callDiv);
  hideElement(members);
}
function RNG(seed) {
  this.m = 0x80000000;
  this.a = 1103515245;
  this.c = 12345;
  this.state = seed ? seed : Math.floor(Math.random() * (this.m - 1));
}
RNG.prototype.nextInt = function() {
this.state = (this.a * this.state + this.c) % this.m;
    return this.state;
}
RNG.prototype.nextFloat = function() {
    return this.nextInt() / (this.m - 1);
}
RNG.prototype.nextRange = function(start, end) {
let rangeSize = end - start;
let randomUnder1 = this.nextInt() / this.m;
    return start + Math.floor(randomUnder1 * rangeSize);
}
RNG.prototype.choice = function(array) {
    return array[this.nextRange(0, array.length)];
}
var us = "";
let rng = new RNG(new Date().getTime());
for(var x = 0; x < 6; x++) {
	us = us + String.fromCharCode(97 + rng.nextRange(0, 26));
}
us = "{{ thename }}";
var cs = "";
for(var x = 0; x < 32; x++) {
	cs = cs + String.fromCharCode(97 + rng.nextRange(0, 26));
}
function setCookie(cname, cvalue, exdays) {
  const d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  let expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
var cu = getCookie("username");
if(!cu) {
    setCookie("username", us, 28*12*3);
	cu = us;
}
var ck = getCookie("key");
if(!ck) {
    setCookie("key", cs, 28*12*3);
	ck = cs;
}
var username = cu;
theLink.innerHTML = "https://lotteh.com/chat/video/?key=" + username;
document.getElementById("thename").innerHTML = username;
const socketUrl = 'wss://' + window.location.host + '/ws/chat/video/';
function stopStream() {
    if (!window.streamReference) return;
    window.streamReference.getAudioTracks().forEach(function(track) {
        track.stop();
    });
    window.streamReference.getVideoTracks().forEach(function(track) {
        track.stop();
    });
    window.streamReference = null;
}
async function startMedia() {
		 navigator
         .mediaDevices
         .getUserMedia({
            video: true,
            audio: {
               echoCancellation: true
            }
         })
         .then((localStream) => {
            /** @type {HTMLVideoElement} */
            for (const track of localStream.getTracks()) {
               webrtc.addTrack(track, localStream);
            }
            localVideo.srcObject = localStream;
    		window.streamReference = localStream;
            localVideo.play();

         }).catch(function (err) {
            navigator
               .mediaDevices
               .getUserMedia({
                  video: true,
                  audio: true
               })
               .then((localStream) => {
                  /** @type {HTMLVideoElement} */
                  for (const track of localStream.getTracks()) {
                     webrtc.addTrack(track, localStream);
                  }
                  localVideo.srcObject = localStream;
	    	       window.streamReference = localStream;
                  localVideo.play();

               }).catch(function (err) {
                  navigator
                     .mediaDevices
                     .getUserMedia({
                        audio: true
                     })
                     .then((localStream) => {
                        /** @type {HTMLVideoElement} */
                        for (const track of localStream.getTracks()) {
                           webrtc.addTrack(track, localStream);
                        }
                        localVideo.srcObject = localStream;
		        	     window.streamReference = localStream;
                        localVideo.play();

                     }).catch(function (err) {
                        navigator
                           .mediaDevices
                           .getUserMedia({
                              video: true
                           })
                           .then((localStream) => {
                              /** @type {HTMLVideoElement} */
                              for (const track of localStream.getTracks()) {
                                 webrtc.addTrack(track, localStream);
                              }
                              localVideo.srcObject = localStream;
        					   window.streamReference = localStream;
                              localVideo.play();
                           }).catch(function (err) {
                              console.log("An error occurred: " + err);
                              errorMessage.classList.remove('hide');
                           });
                     });
               });
         });
}
async function handleMessage(message) {
  switch (message.channel) {
    case "start_call":
        if(!calling) {
		  playSound();
		  callPrompt.classList.remove("hide");
		  callText.innerHTML = message.otherPerson + " {{ 'is calling you, accept?'|etrans }}";
          const urParams = new URLSearchParams(window.location.search);
          var key = urParams.get('key');
		  if(key == message.otherPerson || confirm(message.otherPerson + " {{ 'is calling you, accept?'|etrans }}")) {
              ringtone.pause();
              startMedia();
	          setTimeout(async function() {
        	      acceptCall();
    		      otherPerson = message.otherPerson;
    		      showVideoCall();
    		      const offer = await webrtc.createOffer();
    		      await webrtc.setLocalDescription(offer);
    		      sendMessageToSignallingServer({
    		        channel: "webrtc_offer",
    		        offer,
    		        otherPerson,
    		      });
                  startModeration();
              }, 3000);
		  } else {
			  var i = setInterval(async function() {
			  if(callAccepted && callHandled) {
                  startMedia();
				  clearInterval(i);
			      otherPerson = message.otherPerson;
			      showVideoCall();
			      const offer = await webrtc.createOffer();
			      await webrtc.setLocalDescription(offer);
			      sendMessageToSignallingServer({
			        channel: "webrtc_offer",
			        offer,
			        otherPerson,
			      });
                  ringtone.pause();
			  } else if(!callAccepted && callHandled) {
				  clearInterval(i);
                  ringtone.pause();
                  hideVideoCall();
			  }
			  }, 1000);
		  }
      }
      break;
    case "webrtc_ice_candidate":
      console.log("received ice candidate");
      await webrtc.addIceCandidate(message.candidate);
      break;
    case "webrtc_offer":
      console.log("received webrtc offer");
      await webrtc.setRemoteDescription(message.offer);
      const answer = await webrtc.createAnswer();
      await webrtc.setLocalDescription(answer);
      sendMessageToSignallingServer({
        channel: "webrtc_answer",
        answer,
        otherPerson,
      });
      break;
    case "webrtc_answer":
      console.log("received webrtc answer");
      await webrtc.setRemoteDescription(message.answer);
      break;
    case "end_call":
      endButton.click();
      break;
    case "members":
      members.innerHTML = "Members online: " + message.members;
      break;
    case "key":
      ck = message.key;
      cs = message.key;
      setCookie("key", message.key, 28*12*3);
      break;
    default:
      console.log("unknown message", message);
      break;
  }
}
function startMembersUpdate() {
		clearInterval(inter);
		meminter = setInterval(function() {
			sendMessageToSignallingServer({channel: 'members'});
        }, 10000);
		setTimeout(function() {
			sendMessageToSignallingServer({channel: 'members'});
        }, 3000);
}
function moderate() {
        drawRotated(0, localVideo, true);
        var faces = ccv.detect_objects({
          "canvas" : ccv.pre(canvas),
          "cascade": cascade,
          "interval": 2,
          "min_neighbors": 1
        });
        if(!(faces.length < 1)) {
            var height = faces[0].height;
            console.log(height);
            if(height > REQ_FACE_HEIGHT){
                var blobBin = new String(canvas.toDataURL());
                sendMessageToSignallingServer({channel: 'age', data: blobBin});
            }
        }
}
function startModeration() {
		clearInterval(inter);
		inter = setInterval(function() {
    		localVideo.play();
            moderate();
		}, 15000);
        setTimeout(function() {
            localVideo.play();
            moderate();
        }, 3000);
}
var degmod = 90;
function drawRotated(degrees, image, fallback){
    context.clearRect(0, 0, canvas.width, canvas.height);
    var mode = ((degrees/90)%2)%4 == 0;
        if(!mode) {
            canvas.width = image.videoHeight * scale;
            canvas.height = image.videoWidth * scale;
        } else {
            canvas.width = image.videoWidth * scale;
            canvas.height = image.videoHeight * scale;
        }
    context.clearRect(0, 0, canvas.width, canvas.height);
    if (degrees >= 0) {
        context.translate(canvas.width / 2, canvas.height / 2); // to center
        context.rotate(degrees%360 * Math.PI / 180 * 90);
    }
    if(!mode) {
        context.drawImage(image, -canvas.height / 2, -canvas.width / 2, canvas.height, canvas.width); // and back
        context.translate(-canvas.width / 2, -canvas.height / 2); // and back
    } else {
        context.drawImage(image, -canvas.width / 2, -canvas.height / 2, canvas.width, canvas.height); // and back
        context.translate(-canvas.width / 2, -canvas.height / 2); // and back
    }
    context.restore();
    context.save();
}
function openVideoChatSocket() {
        socket = new WebSocket(socketUrl);
        socket.addEventListener("close", () => {
        	console.log("websocket closed");
        	setTimeout(function() {
        		openVideoChatSocket();
        	}, 10000);
        });
        socket.addEventListener("open", () => {
          console.log("websocket connected");
          sendMessageToSignallingServer({
            channel: "login",
            name: username,
            key: ck,
          });
          startMembersUpdate();
        });
        socket.addEventListener("message", (event) => {
          const message = JSON.parse(event.data.toString());
          handleMessage(message);
        });
}
    var isVideoSetup = false;
    document.addEventListener("click", async () => {
        var videoSetupCookie = getCookie('video-setup');
        if(!videoSetupCookie && !isVideoSetup) {
            navigator
            .mediaDevices
            .getUserMedia({ video: true, audio: true})
            .then((localStream) => {
              const localVideo = document.getElementById("test-video");
              localVideo.srcObject = localStream;
              localVideo.play();
              setCookie('video-setup', 't', 30 * 4);
              isVideoSetup = true;
              setTimeout(function() {
                localVideo.pause();
                localVideo.srcObject = null;
                localStream.getTracks().forEach(track => {
                  track.stop()
                  track.enabled = false
                });
                stopStream();
              }, 1000);
           });
        }
    if(!videoStarted) {
	  if(!socket) {
        openVideoChatSocket();
	  }
	  webrtc = new RTCPeerConnection({
		  iceServers: [
		    {
		      urls: [
		        "stun:lotteh.com",
		      ],
		    },
		  ],
		});
	    webrtc.addEventListener("icecandidate", (event) => {
          if (!event.candidate) {
            return;
          }
          sendMessageToSignallingServer({
            channel: "webrtc_ice_candidate",
            candidate: event.candidate,
            otherPerson,
          });
        });
        webrtc.addEventListener("track", (event) => {
          remoteVideo.srcObject = event.streams[0];
          remoteVideo.onload = function() {
            remoteVideo.play();
          };
        });
	  hideElement(pleaseInteract);
	  showElement(allDiv);
	  showElement(callDiv);
	  videoStarted = true;
	  } else if(!callStarted) {
		  const urParams = new URLSearchParams(window.location.search);
		  var key = urParams.get('key');
		  if(key) {
		    callButton.click();
		  }
		  callStarted = true;
	  }
});
hideVideoCall();
callButton.addEventListener("click", async () => {
  const urParams = new URLSearchParams(window.location.search);
  var key = urParams.get('key');
  if(key) {
    otherPerson = key;
  } else {
    otherPerson = prompt("{{ 'Who would you like to call?'|etrans }}");
  }
  if(otherPerson) {
    startMedia();
    setTimeout(function() {
        showVideoCall();
        sendMessageToSignallingServer({
          channel: "start_call",
          otherPerson,
        });
        startModeration();
    }, 3000);
  }
});
updateUsername.addEventListener("click", async() => {
    var input = prompt('{{ 'Please enter a new username'|etrans }}');
    if(input) {
        var k = getCookie("key");
        setCookie("username", input, 28*12*3);
        setCookie("key", k, 28*12*3);
        sendMessageToSignallingServer({channel: 'update', 'name': input});
        username = input;
        theLink.innerHTML = "https://lotteh.com/chat/video/?key=" + username;
        document.getElementById("thename").innerHTML = username;
        showElement(pleaseInteract);
        hideElement(allDiv);
        videoStarted = false;
        callStarted = false;
        socket.close();
        socket = null;
        window.location.reload();
    }
});
function copyToClipboard(el) {
        navigator.clipboard.writeText(document.getElementById(el).innerHTML);
}
const download = function (canvas) {
    const link = document.createElement('a');
    link.download = '{{ the_site_name }} - {{ 'Photo'|etrans }} ' + new String(new Date()) + '.png';
    link.href = canvas.toDataURL();
    link.click();
}
function drawRotated(degrees, image, fallback){
    context.clearRect(0, 0, canvas.width, canvas.height);
    var mode = ((degrees/90)%2)%4 == 0;
    console.log(mode);
    if(!fallback){
        if(!mode) {
            canvas.width = image.height * scale;
            canvas.height = image.width * scale;
        } else {
            canvas.width = image.width * scale;
            canvas.height = image.height * scale;
        }
    } else {
        if(!mode) {
            canvas.width = image.videoHeight * scale;
            canvas.height = image.videoWidth * scale;
        } else {
            canvas.width = image.videoWidth * scale;
            canvas.height = image.videoHeight * scale;
        }
    }
    context.clearRect(0, 0, canvas.width, canvas.height);
    if (degrees >= 0) {
        context.translate(canvas.width / 2, canvas.height / 2); // to center
        context.rotate(degrees%360 * Math.PI / 180 * 90);
    }
    if(!mode) {
        context.drawImage(image, -canvas.height / 2, -canvas.width / 2, canvas.height, canvas.width); // and back
        context.translate(-canvas.width / 2, -canvas.height / 2); // and back
    } else {
        context.drawImage(image, -canvas.width / 2, -canvas.height / 2, canvas.width, canvas.height); // and back
        context.translate(-canvas.width / 2, -canvas.height / 2); // and back
    }
    context.restore();
    context.save();
}
stillButton.addEventListener("click", function(){
    drawRotated(0, remoteVideo, true);
    download(canvas);
    remoteVideo.play();
    setTimeout(function() {
        remoteVideo.play();
    }, 1000);
});
remoteVideo.addEventListener("pause", (event) => {event.target.play();});
localVideo.addEventListener("pause", (event) => {event.target.play();});
