.clockContainer { 
    position: relative; 
    display: inline-block;
    margin: auto; 
    height: 40px;
    width: 40px;
    background-color: #ffcccb;
    border-radius: 50%;
    background-size: 100%; 
    border: 1px solid black;
} 
.hour, 
.minute, 
.second { 
    position: absolute; 
    background: black; 
    border-radius: 10px; 
    transform-origin: bottom; 
} 
.hour { 
    width: 1.8%; 
    height: 25%; 
    top: 25%; 
    left: 48.85%; 
    opacity: 0.8; 
} 
.minute { 
    width: 1.6%; 
    height: 30%; 
    top: 19%; 
    left: 48.9%; 
    opacity: 0.8; 
} 
.second { 
    width: 1%; 
    height: 40%; 
    top: 9%; 
    left: 49.25%; 
    opacity: 0.8;
}
.dhour, 
.dminute, 
.dsecond { 
    position: absolute; 
    background: black; 
    border-radius: 10px; 
    transform-origin: bottom; 
} 
.dhour { 
    width: 1.8%; 
    height: 25%; 
    top: 25%; 
    left: 48.85%; 
    opacity: 0.8; 
} 
.dminute { 
    width: 1.6%; 
    height: 30%; 
    top: 19%; 
    left: 48.9%; 
    opacity: 0.8; 
} 
.dsecond { 
    width: 1%; 
    height: 40%; 
    top: 9%; 
    left: 49.25%; 
    opacity: 0.8;
}
.dynamicClockContainer { 
    position: relative; 
    display: inline-block;
    margin: auto; 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: 100%; 
    border: 2px solid white;
} 
.hour, 
.minute, 
.second { 
    position: absolute; 
    background: black; 
    border-radius: 10px; 
    transform-origin: bottom; 
} 
.hour { 
    width: 1.8%; 
    height: 25%; 
    top: 25%; 
    left: 48.85%; 
    opacity: 0.8; 
} 
.minute { 
    width: 1.6%; 
    height: 30%; 
    top: 19%; 
    left: 48.9%; 
    opacity: 0.8; 
} 
.second { 
    width: 1%; 
    height: 40%; 
    top: 9%; 
    left: 49.25%; 
    opacity: 0.8;
}