{% extends 'base.html' %}
{% block content %}
{% load app_filters %}
<legend>{{ 'Review Login Sessions'|etrans }}</legend>
<ul>
{% if logins|length == 0 %}
<p>{{ 'No pending logged in sessions to review.'|etrans }}</p>
{% endif %}
{% for login in logins %}
<li id="{{ login.id }}" class="login">{{ 'Login at'|etrans }} {{ login.timestamp }} {{ 'and'|etrans }} {{ login.timestamp|time:"s u" }} {{ 'secs. from ip'|etrans }} {{ login.ip_address }} {{ 'with agent'|etrans }} {{ login.user_agent }}. {{ 'Approve?'|etrans }} {% include 'security/approve.html' %} {{ 'OR Deny?'|etrans }} {% include 'security/deny.html' %}<hr></li>
{% endfor %}
</ul>
{% endblock %}
{% block javascript %}
var elements = document.querySelectorAll('.login');
for(var x = 0; x < elements.length; x++) {
	var element = elements[x];
	$(element).on('click', function(event) {
		$(event.target).toggleClass('fade-hidden-fast');
		setTimeout(function() {
			$(event.target).toggleClass('hide');
		}, 1000);
	});
}
/*var elements = document.querySelectorAll('.login-button');
for(var x = 0; x < elements.length; x++) {
	var element = document.getElementById(parseInt(elements[x].dataset.id));
	$(elements[x]).on('click', function(event) {
		setTimeout(function() {
			$(event.target.parentElement.parentElement).toggleClass('fade-hidden-fast');
			setTimeout(function() {
				$(event.target.parentElement.parentElement).toggleClass('hide');
			}, 1000);
		}, 5000);
	});
}*/
{% endblock %}
