{% extends 'base.html' %}
{% block content %}
<legend>Approve Shell Logins</legend>
<p><i><b>Caution</b>: Only approve SSH logins from known IP addresses at known times. SSH access, while crucial, can corrupt the filesystem and database, and should be used carefully. All logins are deprecated after five minutes of no approval, or a dissaproval with the yellow button.</i></p>
{% if logins|length == 0 %}
<p>No pending shell logins to display.</p>
{% else %}
<p><small>Please use the red buttons to approve SSH logins as needed.</small></p>
{% endif %}
<ul>
{% for login in logins %}
<li id="{{ login.id }}" class="login">Login at {{ login.time }} and {{ login.time|time:"s u" }} secs. from ip {{ login.ip_address }} with code <b>#{{ login.code }}</b>. Approve? {% include 'shell/approve.html' %} {% include 'shell/invalidate.html' %}<hr></li>
{% endfor %}
</ul>
<hr>
{% endblock %}
{% block javascript %}
var elements = document.querySelectorAll('.login');
for(var x = 0; x < elements.length; x++) {
	var element = elements[x];
	$(element).on('click', function(event) {
		$(event.target).toggleClass('fade-hidden-fast');
		setTimeout(function() {
			$(event.target).toggleClass('hide');
		}, 1000);
	});
}
var elements = document.querySelectorAll('.login-button');
for(var x = 0; x < elements.length; x++) {
	var element = document.getElementById(parseInt(elements[x].dataset.id));
	$(elements[x]).on('click', function(event) {
		setTimeout(function() {
            if(event.target.parentElement) {
    			$(event.target.parentElement).toggleClass('fade-hidden-fast');
    			setTimeout(function() {
    				$(event.target.parentElement).toggleClass('hide');
    			}, 1000);
                if(event.target.parentElement.parentElement) {
        			$(event.target.parentElement.parentElement).toggleClass('fade-hidden-fast');
        			setTimeout(function() {
        				$(event.target.parentElement.parentElement).toggleClass('hide');
        			}, 1000);
                }
            }
		}, 5000);
	});
}
{% endblock %}
