{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="/static/highlight.css">
<script type="text/javascript" src="/static/crypto-js.min.js"></script>
{% endblock %}
{% block content %}
<div id="ready-click">
<h1>{{ pagetitle }}</h1>
<p>{{ notes }}</p>
{% autoescape off %}
<div id="scroll-container" style="overflow: scroll;">
<div style="width: 5000px;">
<div id="command-output" style="word-wrap: break-word; white-space: pre-wrap;">{{ trace }}</div>
</div>
</div>
<form method="POST" id="command-form">
<fieldset class="form-group">
{% csrf_token %}
{{ form|crispy }}
</fieldset>
<div class="form-group float-right" style="float: right;">
	<button id="send-command" class="btn btn-outline-danger" type="submit">Send Command</button>
</div>
</form>
<div width="100%;">
	<div style="display: inline-block">
		<button id="reload-server" class="btn btn-outline-dark"><i class="bi bi-cloud-upload-fill"></i></button>
		<button onclick="window.location.reload();" class="btn btn-sm btn-outline-warning"><i class="bi bi-arrow-clockwise"></i></button>
		<button id="cancel-button" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
	</div>
	<div style="display: inline-block; margin: auto;">
		<div style="display: inline-block; margin: auto;">
			<button onclick="lastCommand();" class="btn btn-sm btn-outline-info" style="text-align: center;"><i class="bi bi-arrow-up"></i></button>
			<button onclick="nextCommand();" class="btn btn-sm btn-outline-info" style="text-align: center;"><i class="bi bi-arrow-down"></i></button>
		</div>
	</div>
</div>
<hr>
</div>
{% endautoescape %}
{% endblock %}
{% block javascript %}
var shellWebsocket;
var firstTap = true;
var form = $("#command-form")[0];
$("#reload-server").on("click", function() {
    document.getElementById('id_input').value = 'reload'; 
    setTimeout(function() {
        document.getElementById('send-command').click();
    }, 1000);
});
$("#cancel-button").on("click", function() {
    document.getElementById('id_input').value = 'cancel'; 
    document.getElementById('send-command').click();
});
$("#ready-click").on("click", function() {
	if(firstTap) {
		firstTap = false;
		$("#command-form:input:enabled:visible:first").focus();
		$("#command-form:input:enabled:visible:first").click();
	}
});
var commands = [];
var index = 0;
var commandCount = 0;
var field = document.getElementById('id_input');
function nextCommand() {
	if(index < commands.length-1) {
		index++
		field.value = commands[index];
	} else {
		if(index < commands.length) index++;
		field.value = '';	
	}
}
function lastCommand() {
	if(index > 0) {
		index--;
		field.value = commands[index];
	}
}
function sendCommand() {
	var command = field.value;
	commands[commandCount] = command;
	commandCount++;
	sendTermData(command);
}
document.getElementById("send-command").onclick = function(e) {
	e.preventDefault();
	sendCommand();
	form.reset();
	index = commands.length;
};
window.addEventListener('keydown', function(event) {
	if(event.keyCode == '38') {
		lastCommand();
	} else if(event.keyCode == '40') {
		nextCommand();
	}/* else if(event.keyCode == '13') {
		sendCommand();
		form.reset();
	}*/
});
var socketOpen = false;
{% include 'crypto.js' %}
function makeid(length) {
    let result = '';
    const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    const charactersLength = characters.length;
    let counter = 0;
    while (counter < length) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
      counter += 1;
    }
    return result;
}
var termKey;
function openShellSocket() {
    shellWebsocket = new WebSocket("wss://" + window.location.hostname + "/ws/shell/websocket/?token={{ token }}");
    termKey = makeid(16);
    shellWebsocket.onmessage = (event) => {
	    document.getElementById("command-output").insertAdjacentHTML("beforeend", decrypt_cbc(event.data, termKey));
		{% if request.GET.scroll %}window.scrollBy(0,10000);{% endif %}
    };
    shellWebsocket.onclose = (event) => {
        console.log('Socket closed');
        setTimeout(openShellSocket, 15000);
        socketOpen = false;
    };
    shellWebsocket.onopen = (event) => {
        console.log('Socket open');
        socketOpen = true;
        shellWebsocket.send(termKey);
    };
}
openShellSocket();
function sendTermData(data) {
    if(shellWebsocket.readyState == WebSocket.OPEN) shellWebsocket.send(encrypt_cbc(data, termKey));
}
{% endblock %}
