p, h1, h2, h3, h4, h5, legend, btn, bold, i, nav-link, navbar-brand, div, b {
	text-color: white !important;
	color: white !important;
}
small :not(.nav-title) {
	text-color: white;
	color: white;
}
hr {
	border-color: white;
}
a {
	color: #94c7ff;
}
.text-muted, .nav-link, .nav-item {
	color: white;
}
.alert, .lightblue, .pink {
	text-color: black !important;
	color: black !important;
}
.card, .card-body, .cmodal {
	background-color: #343a40 !important;
}
a:hover {
	color: lightgreen;
}
select, input[type="radio"], input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="time"], input[type="password"], textarea {
	background-color: #454b51 !important; 
	color: white !important;
	text-color: white !important;
}
.btn-outline-dark, .btn-outline-secondary {
	text-color: white !important;
	color: white !important;
}
.signature {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
}
