{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load app_filters %}
{% block head %}
{% if payment_processor == 'helcim' %}
<script type="text/javascript" src="https://secure.helcim.app/helcim-pay/services/start.js"></script>
{% elif payment_processor == 'stripe' %}
<script src="https://js.stripe.com/v3/"></script>
{% endif %}
<script type="text/javascript" src="/static/qrcode.min.js"></script>
<!--<script src="https://js.stripe.com/v3/"></script>-->
{% endblock %}
{% block styles %}
#card-info-parent * {
  margin-left: 3px;
  margin-right: 3px;
}
{% endblock %}
{% block content %}
<div id="container rounded bg-white shadow col-md-6 mx-auto">
<h1><i class="bi bi-credit-card-fill"></i> {{ 'Buy this'|etrans }} {% if not post.file %}{{ 'photo'|etrans }}{% else %}{{ 'product'|etrans }}{% endif %} {{ 'of'|etrans }} @{{ username }} {{ 'with Card'|etrans }}</h1>
{% if post.image and post.public and not post.private %}<img class="mr-2 img-fluid rounded" style="float: left; width: 50%; max-width: 400px; margin-right: 13px;" src="{{ post.get_blur_thumb_url }}" alt="{{ 'Buy this photo for'|etrans }} ${{ fee|sub_fee }} USD"></img>
{% elif post.image and post.private or not post.public %}<img class="mr-2 img-fluid rounded" style="float: left; filter: blur(8px); width: 50%; max-width: 400px; margin-right: 13px;" src="{{ post.get_blur_thumb_url }}" alt="{{ 'Buy this photo for'|etrans }} ${{ fee|sub_fee }} USD"></img>{% endif %}
<div style="display: inline-block;">
    <a href="{{ request.path }}{% if request.GET.coupon %}?coupon={{ request.GET.coupon }}{% endif %}" title="{{ 'See another photo'|etrans }}" class="btn btn-outline-dark pink-borders">{{ 'See Another Photo'|etrans }}</a>
</div>
<div style="text-align: center;">
	<img alt="Accepting Visa and Mastercard" style="height: auto; width: 80%; max-width: 90px;" height="auto" src="/media/static/visa-mastercard.png"></img>
</div>
<p><button class="btn btn-outline-info" title="{{ 'Add this to your cart'|etrans }}" onclick="addToCart('{{ post.uuid }}');">{{ 'Add to Cart'|etrans }} <i><b id="total{{ post.uuid }}"></b></i></button></p>
<b>Items:</b>
<ul>
<li>{{ 'One private'|etrans }} {% if not post.file %}{{ 'photo'|etrans }}{% else %}{{ 'download, video or audio'|etrans }}{% endif %} {{ 'featuring'|etrans }} {{ username }} (${{ fee|sub_fee }})</li>
<li>{{ 'Billed once only.'|etrans }}</li>
</ul>
<p><i>{{ 'Want to pay with cryptocurrency instead?'|etrans }}</i> <a href="{% url 'payments:buy-photo-crypto' post.author.profile.name %}?id={{ post.uuid }}&crypto={{ default_crypto }}" class="btn btn-outline-info" title="{{ 'Pay with crypto'|etrans }}">{{ 'Pay with Cryptocurrency'|etrans }}</a></p>
<b>{{ 'Info:'|etrans }}</b>
<p>{{ 'The transaction will display on your bank statement as'|etrans }} "{{ statement_descriptor }} AUDIOVISUAL".</p>
<p>{{ 'For questions or concerns, please contact'|etrans }} {{ the_site_name }} {{ 'at'|etrans }} {{ agent_phone }} {{ 'or mail to'|etrans }} {{ agent_name }} {{ agent_address }}.</p>
<p>{{ 'You will pay'|etrans }} ${{ fee|sub_fee }} USD. {{ 'Please enter your credit or debit card information.'|etrans }}</p>
{% if request.GET.coupon %}
<p><legend>{{ 'You have received a coupon!'|etrans }}</legend> - {{ 'Use coupon code'|etrans }} <b id="coupon-code">{{ request.GET.coupon }}</b> <button class="btn btn-primary btn-sm" onclick="copyToClipboard('coupon-code');">{{ 'Copy'|etrans }}</button> {{ 'at checkout to get a discount on your purchase.'|etrans }}</p>
{% endif %}
<hr style="background-color: blue;">
<form id="pay-form" onsubmit="event.preventDefault(); payFee();">
{{ form|crispy }}
<button type="submit" class="btn btn-lg btn-outline-success" title="{{ 'Submit'|etrans }}">{{ 'Submit'|etrans }}</button>
</form>
</div>
<hr>
{% include 'social.html' %}
{% endblock %}
{% block javascript %}
var product = 'post';
var pid = {{ post.id }};
var price = {{ post.price }};
var vendor = {{ post.author.id }};
var payForm = document.getElementById('pay-form');
var checkoutToken;
{% if payment_processor == 'paypal' %}
function payFee() {
    var email = {% if request.user.is_authenticated %}"{{ request.user.email }}"{% else %}document.getElementById('id_email').value{% endif %};
    $.ajax({
        url: '{{ base_url }}{% url 'payments:paypal-checkout' %}?vendor=' + vendor + '&email=' + email + '&price=' + price + '&product=' + product + '&pid=' + pid,
        method:'POST',
        success: function(data) {
            if(data.startsWith(window.location.protocol + '//')) {
                window.location.href = data;
            } else { console.log('Invalid response from server.'); }
        },
    });
}
{% elif payment_processor == 'square' %}
function payFee() {
    var email = {% if request.user.is_authenticated %}"{{ request.user.email }}"{% else %}document.getElementById('id_email').value{% endif %};
    $.ajax({
        url: '{{ base_url }}{% url 'payments:square-checkout' %}?vendor=' + vendor + '&email=' + email + '&price=' + price + '&product=' + product + '&pid=' + pid,
        method:'POST',
        success: function(data) {
            if(data.startsWith(window.location.protocol + '//')) {
                window.location.href = data;
            } else { console.log('Invalid response from server.'); }
        },
    });
}
{% elif payment_processor == 'helcim' %}
function payFee() {
    var email = {% if request.user.is_authenticated %}"{{ request.user.email }}"{% else %}document.getElementById('id_email').value{% endif %};
    $.ajax({
        url: '{{ base_url }}{% url 'payments:invoice' %}?vendor=' + vendor + '&email=' + email + '&price=' + price + '&product=' + product + '&pid=' + pid,
        method:'POST',
        success: function(data) {
            var j = JSON.parse(data);
            checkoutToken = j.checkoutToken;
            $(document.getElementById("clemn-navbar")).autoHidingNavbar().hide();
            appendHelcimPayIframe(j.checkoutToken);
        },
    });
}
window.addEventListener('message', (event) => {

  const helcimPayJsIdentifierKey = 'helcim-pay-js-' + checkoutToken;

  if(event.data.eventName === helcimPayJsIdentifierKey){

    if(event.data.eventStatus === 'ABORTED'){
      console.error('Transaction failed!', event.data.eventMessage);
    }

    if(event.data.eventStatus === 'SUCCESS'){
      validateResponse(event.data.eventMessage)
        .then(response => console.log(response))
        .catch(err => console.error(err));
    }
  }
});
function validateResponse(eventMessage) {
  const payload = {
    'rawDataResponse': eventMessage.data,
  };
  return fetch('{{ base_url }}/payments/helcim/', {body: payload, method: "POST"});
}
{% elif payment_processor == 'stripe' %}
var stripe = Stripe('{{ stripe_pubkey }}');
function payFee(){
    var email = {% if request.user.is_authenticated %}"{{ request.user.email }}"{% else %}document.getElementById('id_email').value{% endif %};
        fetch("/payments/audiovisual/checkout/?photo={{ post.id }}&email=" + email)
          .then((result) => {
            return result.json();
          })
          .then((data) => {
            return stripe.redirectToCheckout({ sessionId: data.sessionId });
          });
}
{% endif %}
{% endblock %}
