{% extends 'base.html' %}
{% block content %}
{% load feed_filters %}
{% load app_filters %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ 'Cancel subscription'|etrans }}</legend>
                <h2>{{ 'Are you sure you want to unsubscribe from'|etrans }} {{ model.profile.name }}?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit" title="{{ 'Unsubscribe from'|etrans }} {{ model.profile.name }}">{{ 'Yes, Unsubscribe'|etrans }}</button>
                <a class="btn btn-outline-secondary" href="{% url 'feed:profile' model.profile.name %}" title="{{ 'Go back'|etrans }}">{{ 'Go back'|etrans }}</a>
            </div>
        </form>
{% endblock content %}
