{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load app_filters %}
{% block styles %}
#card-info-parent * {
  margin-left: 3px;
  margin-right: 3px;
}
{% endblock %}
{% block content %}
<div id="container rounded bg-white shadow col-md-6 mx-auto">
<legend><i class="bi bi-credit-card-fill"></i> Virtual Terminal</legend>
<a href="{% url 'payments:tip-crypto-simple' username %}" title="Get a crypto address to send money to" class="btn btn-outline-success">Crypto</a>
<div>
<b>Info:</b>
<p>The transaction will display on your bank statement as "MAMASHEEN".</p>
<p>For questions or concerns, please contact {{ the_site_name }} at {{ agent_phone }} or mail to {{ agent_name }} {{ agent_address }}.</p>
</div>
<form id="payment-form" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<p>Please enter the customer, product, and credit or debit card information.</p>
{{ payment_form|crispy }}
{{ card_number_form|crispy }}
<div id="card-info-parent" style="display: flex; justify-content: space-around;">
{{ card_info_form|crispy }}
</div>
<hr style="background-color: blue;">
<button id="submit-button" type="submit" class="btn btn-outline-success">Charge</button>
</form>
</div>
{% endblock %}
{% block javascript %}
$('#payment-form').on('submit', function(){
	document.getElementById('submit-button').disabled = true;
});
{% endblock %}
{% block javascripts %}
{% autoescape off %}
{{ card_number_form.media|removejsig }}
{% endautoescape %}
{% endblock %}
