{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load app_filters %}
{% block head %}
<script type="text/javascript" src="/static/qrcode.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://crypto-js.stripe.com/crypto-onramp-outer.js"></script>
{% endblock %}
{% block content %}
<div id="container rounded bg-white shadow col-md-6 mx-auto">
<h1><i class="bi bi-currency-bitcoin"></i> {{ the_site_name }} - {{ 'Pay invoice from'|etrans }} @{{ username }} {{ 'with'|etrans }} {{ request.GET.crypto }}</h1>
<div style="display: inline-block;">
<img align="left" src="{{ model.get_face_blur_url }}" style="width:33%; margin-right: 10px;" class="rounded"></img>
<!-- <img class="mr-2 img-fluid rounded" src="{{ post.get_blur_thumb_url }}" style="float: left; width: 40%; max-width: 400px;" alt="{{ 'See photos like these'|etrans }}"></img>-->
</div>
<p>{{ 'This purchase is subject to'|etrans }} <a href="{% url 'payments:surrogacy' username %}" title="{{ 'View the agreement'|etrans }}">{{ 'the agreement'|etrans }}</a> {{ 'on the referring page and'|etrans }} <a href="{% url 'misc:terms' %}" title="{{ 'View the terms and coniditons'|etrans }}">{{ 'the terms and conditions and privacy policy'|etrans }}</a> {{ 'of'|etrans }} {{ the_site_name }}.</p>
<div style="display: flex; justify-content: space-around;">
<div class="dropdown" style="display: inline-block;">
  <a class="btn btn-outline-dark pink-borders dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-currency-bitcoin"></i> {{ 'Change Currency'|etrans }}
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	<div style="max-height: 50vh; overflow: scroll;">
        <li><a class="dropdown-item" href="{{ request.path }}?lightning=t&crypto=BTC">BTC (Lightning Network)</a></li>
    {% for currency in currencies %}
        <li><a class="dropdown-item" href="{{ request.path }}?crypto={{ currency }}">{{ currency }}</a></li>
    {% endfor %}
	</div>
  </ul>
</div>
</div>
<p>This invoice is for the below products/services.</p>
<p>{{ invoice.cart }}</p>
<b>Items:</b>
<ul>
<li>{{ 'To be paid for products/services as arranged above.'|trans }}</li>
<li>{{ 'Billed once only.'|etrans }}</li>
</ul>
<b>{{ 'Info:'|etrans }}</b>
<p>{{ 'The transaction will display on your bank statement as'|etrans }} "{{ statement_descriptor }} INVOICE".</p>
<p>{{ 'For questions or concerns, please contact'|etrans }} {{ the_site_name }} {{ 'at'|etrans }} {{ agent_phone }} {{ 'or mail to'|etrans }} {{ agent_name }} {{ agent_address }}.</p>
<p>{{ 'You will pay'|etrans }} ${{ usd_fee|sub_fee }} USD.</p>
<p>{{ 'Want to pay for this Crypto purchase with card?'|etrans }} <button onclick="payWithCard();" class="btn btn-outline-primary" title="{{ 'Pay for your cryptocurrency purchase with card, bank, or other payment method'|etrans }}">{{ 'Pay with Card in Crypto'|etrans }}</button></p>
<div id="onramp-element" style="max-width: 500px" class="mx-auto">
<!--{% if request.GET.crypto == 'ALPH' %}<p>{{ 'To pay with your'|etrans }} Alephium (ALPH) {{ 'please'|etrans }} <a href="https://bridge.alephium.org/" title="{{ 'Use the'|etrans }} Alephium Bridge {{ 'to send'|etrans }} Alephium (ALPH)" target="_blank">{{ 'use the'|etrans }} Alephium Bridge {{ 'to send cryptocurrency to the wallet in the invoice using'|etrans }} ETH {{ 'and'|etrans }} Alephium (ALPH)</a></p>{% endif %}-->
<form id="payment-form" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<legend class="border-bottom mb-4">{{ 'Step 1: Send'|etrans }} {{ request.GET.crypto }}</legend>
<fieldset class="form-group">
<p>{{ 'Send'|etrans }} {{ crypto_fee|cryptoformat }} {{ request.GET.crypto|fixalph }} <button class="btn btn-sm btn-info" type="button" onclick="copyAmount();"><i class="bi bi-clipboard-check-fill"></i> {{ 'Copy'|etrans }}</button> (${{ usd_fee|sub_fee }}) {{ 'to the following wallet address:'|etrans }}</p>
<b><i style="overflow-wrap: break-word;">{{ crypto_address }}</i></b>
<button class="btn btn-sm btn-info" type="button" onclick="copyAddress();"><i class="bi bi-clipboard-check-fill"></i> {{ 'Copy'|etrans }}</button>
<hr style="background-color: green;">
<div style="display: flex; justify-content: space-around;"><div id="paymentqrcode" style="border-style: solid; border-width: 15px; border-radius: 5px; border-color: #EEEEEE;"></div></div>
<div style="text-align: center;"><small>{{ 'Scan this QR code to pay with your Crypto wallet or bank'|etrans }}</small></div>
<p>{% if not request.user.is_authenticated %}{{ 'Enter your email and press'|etrans }}{% else %}{{ 'Press'|etrans }}{% endif %} {{ 'the "Send" button to confirm your payment once you have initiated the transfer.'|etrans }}</p>
{{ form|crispy }}
</fieldset>
<button id="submit-button" type="submit" class="btn btn-outline-success">{{ 'Verify'|etrans }}</button>
</form>
<hr>
{% if not request.GET.crypto == 'ALPH' %}<p>{{ 'To pay with'|etrans }} Alephium (ALPH) {{ 'please select'|etrans }} ETH (Ethereum) {{ 'as your currency and'|etrans }} <a href="https://bridge.alephium.org/" title="{{ 'Use the'|etrans }} Alephium Bridge {{ 'to send'|etrans }} Alephium (ALPH)" target="_blank">{{ 'use the'|etrans }} Alephium Bridge {{ 'to send cryptocurrency to the wallet in the invoice using'|etrans }} ETH {{ 'and'|etrans }} Alephium (ALPH)</a></p>{% endif %}
<p>{{ 'Buy crypto to send here:'|etrans }} <a href="{{ crypto_provider }}" title="{{ 'Buy crypto to send'|etrans }}">{{ crypto_provider }}</a>, {{ 'or with your crypto bank.'|etrans }}</p>
</div>
<p>{{ 'Want to pay for this invoice with card? Select the option above to use the onramp or'|etrans }} <a href="{% url 'payments:pay-invoice' %}{% if request.GET %}?{% for key, val in request.GET.items %}{{ key }}={{ val }}&{% endfor %}{% endif %}" class="btn btn-outline-secondary" title="{{ 'Pay with Card'|etrans }}">{{ 'Pay with Card'|etrans }}</a></p>
{% include 'social.html' %}
{% endblock %}
{% block javascript %}
function copyAddress() {
	navigator.clipboard.writeText("{{ crypto_address }}");
}
function copyAmount() {
	navigator.clipboard.writeText("{{ crypto_fee }}");
}
$('#payment-form').on('submit', function(){
        document.getElementById('submit-button').disabled = true;
});
var pqrdiv = document.getElementById("paymentqrcode");
var pqr = new QRCode(pqrdiv, "{{ crypto_address }}");
var pimage = pqrdiv.querySelector('img');
pimage.style.width = "100%";
pimage.style.height = "100%";
pimage.style.maxWidth = "250px";
pimage.alt = "{{ 'Scan this code to pay with a crypto wallet or bank'|etrans }}";
function payWithCard() {
    var paymentCrypto = "{{ request.GET.crypto }}";
    const onramp = window.StripeOnramp('{{ stripe_key }}');
    $.ajax({
        url: '{% url 'payments:crypto-onramp' username crypto_address usd_fee %}?crypto=' + paymentCrypto,
        method: 'POST',
        error: function() {
            window.location.href = '{{ request.path }}?crypto=ETH';
        },
        success: function(clientSecret) {
            try {
            onrampSession = onramp.createSession({clientSecret});
            onrampSession.mount("#onramp-element");
            } catch {
                window.location.href = '{{ request.path }}?crypto=ETH';
            }
        }
    });
}
{% endblock %}
