{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load app_filters %}
{% block head %}
<script type="text/javascript" src="/static/qrcode.min.js"></script>
{% endblock %}
{% block content %}
<div id="container rounded bg-white shadow col-md-6 mx-auto">
<h1><i class="bi bi-currency-bitcoin"></i> Pay for this plan with crypto @{{ username }} with {{ request.GET.crypto }}</h1>
<div style="display: inline-block;">
<img align="left" src="{{ model.get_face_blur_url }}" style="width:33%; margin-right: 10px;" class="rounded"></img>
<img class="mr-2 img-fluid rounded" src="{{ post.get_blur_thumb_url }}" style="float: left; width: 40%; max-width: 400px;" alt="See photos like these"></img>
</div>
<p>This purchase is subject to <a href="{% url 'payments:surrogacy' username %}" title="View the agreement">the agreement</a> on the referring page and <a href="{% url 'misc:terms' %}" title="View the terms and coniditons">the terms and conditions and privacy policy</a> of {{ the_site_name }}.</p>
<form id="payment-form" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<legend class="border-bottom mb-4">Step 1: Send {{ request.GET.crypto }}</legend>
<fieldset class="form-group">
<div style="display: flex; justify-content: space-around;">
<div class="dropdown" style="display: inline-block;">
  <a class="btn btn-outline-dark pink-borders dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-currency-bitcoin"></i> Change Currency
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	<div style="max-height: 50vh; overflow: scroll;">
        <li><a class="dropdown-item" href="{{ request.path }}?lightning=t&crypto=BTC">BTC (Lightning Network)</a></li>
    {% for currency in currencies %}
        <li><a class="dropdown-item" href="{{ request.path }}?crypto={{ currency }}">{{ currency }}</a></li>
    {% endfor %}
	</div>
  </ul>
</div>
</div>
<p>Send {{ crypto_fee|cryptoformat }} {{ request.GET.crypto }} <button class="btn btn-sm btn-info" type="button" onclick="copyAmount();"><i class="bi bi-clipboard-check-fill"></i> Copy</button> (${{ usd_fee|sub_fee }}) to the following wallet address:</p>
<b><i style="overflow-wrap: break-word;">{{ crypto_address }}</i></b>
<button class="btn btn-sm btn-info" type="button" onclick="copyAddress();"><i class="bi bi-clipboard-check-fill"></i> Copy</button>
<hr style="background-color: green;">
<p>{% if not request.user.is_authenticated %}Enter your email and press{% else %}Press{% endif %} the "Send" button to confirm your payment once you have initiated the transfer.</p>
{{ form|crispy }}
</fieldset>
<button id="submit-button" type="submit" class="btn btn-outline-success">Verify</button>
</form>
<hr>
<p>Buy crypto to send here: <a href="{{ crypto_provider }}" title="Buy crypto to send">{{ crypto_provider }}</a>, or with your crypto bank.</p>
</div>
{% include 'social.html' %}
{% endblock %}
{% block javascript %}
function copyAddress() {
	navigator.clipboard.writeText("{{ crypto_address }}");
}
function copyAmount() {
	navigator.clipboard.writeText("{{ crypto_fee }}");
}
$('#payment-form').on('submit', function(){
        document.getElementById('submit-button').disabled = true;
});
var pqrdiv = document.getElementById("paymentqrcode");
var pqr = new QRCode(pqrdiv, "{{ crypto_address }}");
var pimage = pqrdiv.querySelector('img');
pimage.style.width = "100%";
pimage.style.height = "100%";
pimage.style.maxWidth = "250px";
pimage.alt = "Scan this code to pay with a crypto wallet or bank";
{% endblock %}
