{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load app_filters %} 
{% block head %}
<script type="text/javascript" src="/static/qrcode.min.js"></script>
{% endblock %}
{% block content %} 
<div id="container rounded bg-white shadow col-md-6 mx-auto">
<h1><i class="bi bi-currency-bitcoin"></i> {{ 'Tip'|etrans }} @{{ username }} {{ 'with'|etrans }} {{ request.GET.crypto }}</h1>
<div style="display: flex; justify-content: space-around;">
<div class="dropdown" style="display: inline-block;">
    <a class="btn btn-outline-dark pink-borders dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    	<i class="bi bi-currency-bitcoin"></i> {{ 'Change Currency'|etrans }}
    </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div style="max-height: 50vh; overflow: scroll;">
		<li><a class="dropdown-item" href="{{ request.path }}?lightning=t&crypto=BTC&tip=1">$1 BTC (Lightning Network)</a></li>
		<li><a class="dropdown-item" href="{{ request.path }}?lightning=t&crypto=BTC&tip=5">$5 BTC (Lightning Network)</a></li>
		<li><a class="dropdown-item" href="{{ request.path }}?lightning=t&crypto=BTC&tip=10">$10 BTC (Lightning Network)</a></li>
		<li><a class="dropdown-item" href="{{ request.path }}?lightning=t&crypto=BTC&tip=20">$20 BTC (Lightning Network)</a></li>
	{% for currency in currencies %}
		<li><a class="dropdown-item" href="{{ request.path }}?crypto={{ currency }}">{{ currency }}{% if forloop.counter < 6 %} - {{ 'Fiat options'|etrans }}{% endif %}</a></li>
	{% endfor %}
    </div>
  </ul>
</div>
</div>
<!--{% if request.GET.crypto == 'ALPH' %}<p>{{ 'To pay with your'|etrans }} Alephium (ALPH) {{ 'please'|etrans }} <a href="https://bridge.alephium.org/" target="_blank" title="{{ 'Use the'|etrans }} Alephium Bridge {{ 'to send'|etrans }} Alephium (ALPH)">{{ 'use the'|etrans }} Alephium Bridge {{ 'to send cryptocurrency to the wallet in the invoice using'|etrans }} ETH {{ 'and'|etrans }} Alephium (ALPH)</a></p>{% endif %}-->
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<fieldset class="form-group">
<legend class="border-bottom mb-4">{{ 'Step 1: Send Crypto'|etrans }}</legend>
<p>{{ 'Send'|etrans }} {{ crypto_fee }} {{ request.GET.crypto|fixalph }} <button class="btn btn-sm btn-info" onclick="copyAmount();"><i class="bi bi-clipboard-check-fill"></i> {{ 'Copy'|etrans }}</button> (${{ usd_fee|sub_fee }}) {{ 'to the following wallet address:'|etrans }}</p>
<b><i>{{ crypto_address }}</i></b>
<button class="btn btn-sm btn-info" onclick="copyAddress();"><i class="bi bi-clipboard-check-fill"></i> {{ 'Copy'|etrans }}</button>
<p>{{ 'Want to pay for this Crypto purchase with card?'|etrans }} <button onclick="payWithCard();" class="btn btn-outline-primary" title="{{ 'Pay for your cryptocurrency purchase with card, bank, or other payment method'|etrans }}">{{ 'Pay with Card in Crypto'|etrans }}</button></p>
<hr style="background-color: green;">
{{ form|crispy }}
<button type="submit" class="btn btn-outline-success">{{ 'Send'|etrans }}</button>
</form>
<hr>
{% if not request.GET.crypto == 'ALPH' %}<p>{{ 'To pay with'|etrans }} Alephium (ALPH) {{ 'please select'|etrans }} ETH (Ethereum) {{ 'as your currency and'|etrans }} <a href="https://bridge.alephium.org/" target="_blank" title="{{ 'Use the'|etrans }} Alephium Bridge {{ 'to send'|etrans }} Alephium (ALPH)">{{ 'use the'|etrans }} Alephium Bridge {{ 'to send cryptocurrency to the wallet in the invoice using'|etrans }} ETH {{ 'and'|etrans }} Alephium (ALPH)</a></p>{% endif %}
<p>{{ 'Buy crypto to send here:'|etrans }} <a href="{{ crypto_provider }}" title="{{ 'Buy crypto to send'|etrans }}">{{ crypto_provider }}</a>, {{ 'or with your crypto bank.'|etrans }}</p>
</div>
{% include 'social.html' %}
{% endblock %}
{% block javascript %}
function copyAddress() {
	navigator.clipboard.writeText("{{ crypto_address }}");
}
function copyAmount() {
	navigator.clipboard.writeText("{{ crypto_fee }}");
}
{% endblock %}
