{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load app_filters %} 
{% block head %}
<script type="text/javascript" src="/static/qrcode.min.js"></script>
{% endblock %}
{% block content %} 
<div id="container rounded bg-white shadow col-md-6 mx-auto">
<h1><i class="bi bi-credit-card-fill"></i> Buy this photo of @{{ username }} with Crypto</h1>
<div style="display: flex; justify-content: space-around;">
<img class=" mr-2 rounded" style="float: left; filter: blur(8px); width: 50%; max-width: 400px; margin-right: 13px;" src="{{ post.get_blur_thumb_url }}" alt="Buy this photo for ${{ fee|sub_fee }} USD"></im>
<div style="display: inline-block;">
<a href="{{ request.path }}?crypto={{ request.GET.crypto }}" title="See another photo" class="btn btn-outline-dark pink-borders">See Another Photo</a>
<hr>
<div class="dropdown" style="display: inline-block;">
    <a class="btn btn-outline-dark pink-borders dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    	<i class="bi bi-currency-bitcoin"></i> Change Currency
    </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div style="max-height: 50vh; overflow: scroll;">
	{% for currency in currencies %}
		<li><a class="dropdown-item" href="{{ request.path }}?crypto={{ currency }}&id={{ post.id }}">{{ currency }}</a></li>
	{% endfor %}
    </div>
  </ul>
</div>
</div>
</div>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<fieldset class="form-group">
<legend class="border-bottom mb-4">Step 1: Send Crypto</legend>
<p>Send {{ crypto_fee }} {{ request.GET.crypto }} <button class="btn btn-sm btn-info" onclick="copyAmount();"><i class="bi bi-clipboard-check-fill"></i> Copy</button> (${{ usd_fee|sub_fee }}) to the following wallet address:</p>
<b><i>{{ crypto_address }}</i></b>
<button class="btn btn-sm btn-info" onclick="copyAddress();"><i class="bi bi-clipboard-check-fill"></i> Copy</button>
<hr style="background-color: green;">
{{ form|crispy }}
<button type="submit" class="btn btn-outline-success">Send</button>
</form>
</div>
{% endblock %}
{% block javascript %}
function copyAddress() {
	navigator.clipboard.writeText("{{ crypto_address }}");
}
function copyAmount() {
	navigator.clipboard.writeText("{{ crypto_fee }}");
}
{% endblock %}
