{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="container rounded bg-white shadow col-md-6 mx-auto">
<h1>Thank you!</h1>
<p>Thank you for subscribing. Your subscription is being verified. Please wait 5 minutes and then refresh the page to continue, or return back to this page. Thank you for your patience while the transaction is being verified.</p>
</div>
{% endblock %}
{% block javascript %}
setTimeout(function() {
	window.location.reload();
}, 1000 * 60 * 5); // 5 minutes
{% endblock %}
