{% extends 'base.html' %}
{% block style %}
  html {
    -ms-touch-action: none;
    touch-action: none;
  }
  button, b {
    font-size: 60px;
  }
body {
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#main {
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#main-container {
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
html, body, main {
    margin: 0 !important;
    padding: 0 !important;
}
{% endblock %}
{% block head %}
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
{% endblock %}
{% block content %}
<div style="height: 60px;"></div>
<button id="connect" class="btn btn-outline-success">Connect</button>
<button id="disconnect" class="btn btn-outline-danger">Disconnect</button>
<canvas id="interactive-canvas" style="width: 100vw; height: 85vh;"></canvas>
{% endblock %}
{% block javascript %}
  var input = "";
  var WRITE_INTERVAL = 250;
  var CIRCLE_RADIUS = window.innerWidth * 0.50;
  var OFF_RADIUS = CIRCLE_RADIUS * 0.3;
  var ON_THRESHOLD = 60;
  var DEAD_ZONE = 3;
  var OFFSET_MIN = 25;
  var OFFSET_MOD = 1;
  var interval = null;
  var circle = null;
  var x = 128;
  var y = 128;
  var device;
  var heightFactor = 0.85;
  var mouseToggle = false;
const scale = (fromRange, toRange) => {
    	const d = (toRange[1] - toRange[0]) / (fromRange[1] - fromRange[0]);
        return from =>  (from - fromRange[0]) * d + toRange[0];
};
  function init() {
    var receiveCharacteristic;
    var sendCharacteristic;
    const primaryServiceUuid = '6e400001-b5a3-f393-e0a9-e50e24dcca9e';
    const receiveCharUuid = '6e400002-b5a3-f393-e0a9-e50e24dcca9e';
    const sendCharUuid = '6e400003-b5a3-f393-e0a9-e50e24dcca9e';
    var connectButton = document.getElementById("connect");
    function writeValues() {
	console.log(input);
	  var s = input.split(',');
	  var toy = s[1];
	  var tox = s[0];
          circle.y = parseInt(toy) * window.innerHeight/255;
          circle.x = (255-parseInt(tox)) * window.innerWidth/255;
          stage.update();
	  data = new Uint8Array([255-parseInt(toy), parseInt(toy), parseInt(tox), 255-parseInt(tox), offset]);
	  if(device && device.gatt.connected && data){
    	    receiveCharacteristic.writeValue(data);
	  } 
    }
    connectButton.onclick = async () => {
      device = await navigator.bluetooth.requestDevice({
        acceptAllDevices: true,
        optionalServices: [primaryServiceUuid],
      });
      const server = await device.gatt.connect();
      const service = await server.getPrimaryService(primaryServiceUuid);
      receiveCharacteristic = await service.getCharacteristic(receiveCharUuid);
      sendCharacteristic = await service.getCharacteristic(sendCharUuid);
      sendCharacteristic.oncharacteristicvaluechanged = function(value) {
        console.log("Value " + value)
      };
      interval = setInterval(writeValues, WRITE_INTERVAL);
    };
    document.getElementById("disconnect").onclick = function() {
      clearInterval(interval);
      interval = null;
      const data = new Uint8Array([0, 0, 0, 0, 25]);
      if(device && device.gatt.connected){
            receiveCharacteristic.writeValue(data);
            device.gatt.disconnect();
      }
    };
    var offset = 200;
    var direction = true;
    var slider = null;
    var joystickRadius = 25;
    let stage = new createjs.Stage("interactive-canvas");
    createjs.Touch.enable(stage);
    let container = new createjs.Container();
    var background = new createjs.Shape();
    stage.canvas.width = stage.canvas.getBoundingClientRect().width;
    stage.canvas.height = stage.canvas.getBoundingClientRect().height;
    background.graphics.beginFill("#dedede").drawRect(0, 0, stage.canvas.width, stage.canvas.height); //
    stage.addChild(background);
    stage.addChild(container);
    circle = new createjs.Shape();
    circle.graphics.beginFill("lightblue").drawCircle(0, 0, joystickRadius);
    circle.x = stage.canvas.width * 0.5;
    circle.y = stage.canvas.height * heightFactor * 0.5;
    var circle2 = new createjs.Shape();
    circle2.graphics.beginFill("#ffcccb").drawCircle(0, 0, CIRCLE_RADIUS);
    circle2.x = stage.canvas.width * 0.5;
    circle2.y = stage.canvas.height * heightFactor * 0.5;
    stage.addChild(circle2);
    var circle3 = new createjs.Shape();
    circle3.graphics.beginFill("#eeaaa9").drawCircle(0, 0, OFF_RADIUS);
    circle3.x = stage.canvas.width * 0.5;
    circle3.y = stage.canvas.height * heightFactor * 0.5;
    stage.addChild(circle3);
function openSocket() {
    var socket = new WebSocket("wss://" + window.location.hostname + '/ws/vibe/remote/receive/{{ username }}/');
	socket.addEventListener("open", (event) => {
		console.log("Socket opened.");
	});
	socket.addEventListener("close", (event) => {
		console.log("Socket closed.");
		setTimeout(function() { openSocket(); }, {{ reload_time }});
	});
	socket.addEventListener("message", (event) => {
		input = event.data;
	});
}
openSocket();
    stage.addChild(circle);
    console.log("Initialized")
    stage.update();
}
init();
{% endblock %}
