<form action="{% url 'live:record-remote' %}?camera={{ request.GET.camera }}{% if request.GET.hidenavbar %}&hidenavbar=true{% endif %}" method="POST">
	{% csrf_token %}
{% if request.GET.hidenavbar %} <input type="text" hidden id="hidenavbar" name="hidenavbar" value="true">{% endif %}
	<button id="record-button" type="submit" class="btn btn-secondary">{% if camera.recording %}<i class="bi bi-toggle-on"></i> Stop recording{% else %}<i class="bi bi-toggle-off"></i> Record{% endif %}</button>
</form>
