{% load feed_filters %}
{% if not user.is_authenticated %}
<h1 style="text-align: center;">{{ 'Want to see more?'|trans }}</h1>
<p style="text-align: center;">
<a class="btn btn-outline-secondary btn-lg lightblue" href="{% url 'users:register' %}" title="{{ 'Register'|trans }}" style="color: black !important;">{{ 'Sign Up'|trans }}</a>
<a class="btn btn-outline-secondary btn-lg pink" href="{% url 'users:login' %}" title="{{ 'Log in'|trans }}" style="color: black !important;">{{ 'Log in'|trans }}</a>
<a class="btn btn-primary btn-lg" href="{% url 'payments:subscribe-card' profile.name %}" title="{{ 'Follow this model'|trans }}">{{ 'Follow'|trans }}</a>
{% if profile.shop_url %}<a class="btn btn-info btn-lg" href="{{ profile.shop_url }}" title="{{ 'Buy merch'|trans }}">{{ 'Merch'|trans }}</a>{% endif %}
{% if adult_content %}
{% if profile.user.vendor_profile.content_link %}<a class="btn btn-secondary btn-lg border border-dark" target="_blank" href="{% url 'verify:age' %}?next={% url 'vendors:content' profile.name %}" title="{{ 'Adult content (for adults 18+)'|trans }}">{{ 'Adult Content'|trans }}</a>{% endif %}
{% if profile.user.vendor_profile.video_link %}<a class="btn btn-dark btn-lg border border-dark" target="_blank" href="{% url 'verify:age' %}?next={% url 'vendors:video' profile.name %}" title="{{ 'Adult Video (for adults 18+)'|trans }}">{{ 'Adult Video'|trans }}</a>{% endif %}
{% else %}
{% if profile.user.vendor_profile.content_link %}<a class="btn btn-secondary btn-lg border border-dark" target="_blank" href="{% url 'vendors:content' profile.name %}" title="{{ 'Blog content (for all ages)'|trans }}">{{ 'Content'|trans }}</a>{% endif %}
{% if profile.user.vendor_profile.video_link %}<a class="btn btn-dark btn-lg border border-dark" target="_blank" href="{% url 'vendors:video' profile.name %}" title="{{ 'Video (for all ages)'|trans }}">{{ 'Video'|trans }}</a>{% endif %}
{% endif %}
<a class="btn btn-success btn-lg" href="{% url 'payments:tip-crypto-simple' profile.name %}" title="{{ 'Tip me with cryptocurrency'|trans }}">{{ 'Tip'|trans }}</a>
{% if profile.user.vendor_profile.activate_surrogacy %}<a class="btn btn-light btn-lg border border-dark" href="{% url 'payments:surrogacy' profile.name %}" title="{{ 'Surrogacy plans'|trans }}">{{ 'Surrogacy'|trans }}</a>{% endif %}
<a class="btn btn-danger btn-lg" href="{% url 'chat:video' %}" title="{{ 'Video chat'|trans }}">{{ 'Video Chat'|trans }}</a>
</p>
{% endif %}
