{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="/static/summernote/summernote.min.css">
{% if bs4 %}
<link rel="stylesheet" href="/static/summernote/summernote-bs4.min.css">
{% else %}
<link rel="stylesheet" href="/static/summernote/summernote-bs5.min.css">
{% endif %}
{% endblock %}
{% block content %}
{% load app_filters %}
       <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ 'Update Post'|etrans }}
		{% if form.instance %}
		<div style="text-align: right;">
			<button type="submit" class="btn btn-outline-info">{{ 'Update'|etrans }}</button>
			<a style="float: right;" href="{% url 'feed:post-delete' pk=form.instance.id %}" title="{{ 'Delete this post'|etrans }}"><button type="button" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i> {{ 'Delete'|etrans }}</button></a>
		</div>
		{% endif %}
		</legend>
                {{ form|crispy }}
            </fieldset>
            <img id="uploaded_image"></img>
            <hr>
            <p id="contentLength"></p>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">{{ 'Post'|etrans }}</button>
            </div>
        </form>
        <hr>
	{% if form.instance.image %}
	<img id="image-to-upload" width="100%;" src="{{ form.instance.get_image_url }}"></img>
	<div style="display: flex; justify-content: space-around;">
	<form method="POST" action="{% url 'feed:rotate' pk=form.instance.id direction='left' %}">
		{% csrf_token %}
		<button type="submit" class="btn btn-outline-secondary">{{ 'Rotate Left'|etrans }}</button>
	</form>
	<form method="POST" action="{% url 'feed:rotate' pk=form.instance.id direction='flip' %}">
		{% csrf_token %}
		<button type="submit" class="btn btn-outline-secondary">{{ 'Flip 180°'|etrans }}</button>
	</form>
	<form method="POST" action="{% url 'feed:rotate' pk=form.instance.id direction='right' %}">
		{% csrf_token %}
		<button type="submit" class="btn btn-outline-secondary">{{ 'Rotate Right'|etrans }}</button>
	</form>
	</div>
	{% endif %}
<script src="/static/summernote/summernote.min.js"></script>
{% endblock %}
{% block javascripts %}
{% if bs4 %}
<script src="/static/summernote/summernote-bs4.min.js"></script>
{% else %}
<script src="/static/summernote/summernote-bs5.min.js"></script>
{% endif %}
{{ form.media }}
{% endblock %}
{% block javascript %}
{% if not request.GET.raw %}
$("#id_content").summernote();
var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
  return new bootstrap.Dropdown(dropdownToggleEl)
})
{% endif %}
var chooseFile = document.getElementById("id_image");
var imgPreview = document.getElementById("image-to-upload");
chooseFile.addEventListener("change", function () {
  getImgData();
});
function getImgData() {
  imgPreview.innerHTML = "";
  chooseFileFiles = Array.from(chooseFile.files);
  const files = chooseFile.files[0];
  if (files) {
    for(var x = 0; x < chooseFile.files.length; x++) {
      var fileReader = new FileReader();
      fileReader.index = x;
      fileReader.readAsDataURL(chooseFile.files[x]);
      fileReader.addEventListener("load", function(evt) {
	  imgPreview.src = this.result;
      });
    }
  }
}
{% endblock %}
