{% extends 'base.html' %}
{% block content %}
<h1>{{ 'Your Profiles'|etrans }}</h1>
<hr style="background-color: red;">
{% for profile in profiles %}
{% include 'feed/_subscription_profile.html' %}
{% endfor %}
{% if count == 0 %}
<p>{{ 'You aren't subscribed to anyone yet. To follow someone new, visit their profile or'|etrans }} <a href="{% url 'feed:profiles' %}" title="{{ 'See active profiles'|etrans }}">{{ 'see active profiles'|etrans }}</a>.</p>
{% endif %}
{% include 'pagelinks.html' %}
{% endblock %}
