{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load app_filters %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ 'Resend activation email'|etrans }}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">{{ 'Resend activation email'|etrans }}</button>
            </div>
        </form>
{% endblock %}
