<div class="col-md-8 mx-auto m-2 p-4">
{% load feed_filters %}
{% load app_filters %}
<legend>{{ 'Looking for other ways to support'|etrans }} {{ the_site_name }}?</legend>
<p><i>{{ 'Consider advocating for and donating to a just cause'|etrans }} - </i> {{ 'Decriminalize Sex Work'|etrans }}</p>
<p>{{ 'Decriminalize Sex Work (DSW) works to improve policies related to all forms of sex work and to end the prohibition of consensual adult prostitution in the United States. Evidence shows that decriminalizing sex work will help end human trafficking, improve public health, and promote community safety.'|etrans }}</p>
<p><i>{{ 'Use the button below to learn more about the cause, and donate if you are able to. Thank you for your support!'|etrans }}</i></p>
<div style="display: flex; justify-content: space-around;"><a href="https://decriminalizesex.work" title="{{ 'Decriminalize sex work nationwide in the United States of America'|etrans }}" class="btn btn-outline-success btn-lg border border-dark">{{ 'Visit and Donate'|etrans }}</a></div>
<hr>
</div>
