{% if show_ads %}
<div class="mx-auto p-1 m-1" style="display: flex; justify-content: space-around;">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8062317950995248"
     crossorigin="anonymous"></script>
<!-- Banner Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8062317950995248"
     data-ad-slot="1247687739"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endif %}
