{% load static %}{% load app_filters %}{% load feed_filters %}{% load filters %}{% linebreakless %}{% load webpush_notifications %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        {% if not hidega %}
        {% if show_ads %}
        {% include 'google_adsense_head_code.html' %}
        {% endif %}
        {% include 'gtmhead.html' %}
        {% endif %}
        {% if not request.path == '/verify/age/' %}
        {% webpush_header %}
        {% endif %}
        {% if request.path|startswith:"/payments/photo/crypto/" or request.path|startswith:"/payments/crypto/" or request.path|startswith:"/payments/subscribe/crypto/" or request.path|startswith:"/payments/surrogacy/checkout/crypto/" or request.path|startswith:"/payments/cart/crypto/" %}
        <meta name="robots" content="noindex">
        {% endif %}
        <link rel="manifest" href="/site.webmanifest">
        <meta name="f0f15e690a68424771b0e8f902af3e12e24c2368" content="f0f15e690a68424771b0e8f902af3e12e24c2368">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/media/static/favicon.ico">
        <title>{% if title %}{{ title|trans|capitalize|char2caps }} - {{ the_site_name }}{% else %}{{ the_site_name }}{% endif %}</title>
        <meta name="description" content="{% if description != None %}{{ description|trans }}{% else %}({{ min_age }}+) {{ myusername }} - {{ base_description|etrans }}{% endif %}">
        <meta name="author" content="{{ author_name }}">
        <meta name="copyright" content="© {{ the_site_name }} {{ currentyear }}">
        <meta name="application-name" content="{{ the_site_name }}">
        <meta name="twitter:description" content="{% if description != None %}{{ description|etrans }}{% else %}({{ min_age }}+) {{ myusername }} - {{ base_description|etrans }}{% endif %}">
        <meta name="twitter:title" content="{% if title %}{{ title|trans|capitalize }} - {{ the_site_name }}{% else %}{{ the_site_name }}{% endif %}">
        <meta name="twitter:card" content="summary">
        <meta property="og:type" content="article">
        {% if post %}
        <meta property="og:image" content="{{ post.get_image_url }}">
        <meta name="pinterest:image" content="{{ post.get_image_url }}">
        <meta name="twitter:image" content="{{ post.get_image_url }}">
        {% elif profile %}
        <meta property="og:image" content="{{ profile.get_image_url }}">
        <meta name="pinterest:image" content="{{ profile.get_image_url }}">
        <meta name="twitter:image" content="{{ profile.get_image_url }}">
        {% elif vendor %}
        <meta property="og:image" content="{{ vendor.profile.get_image_url }}">
        <meta name="pinterest:image" content="{{ vendor.profile.get_image_url }}">
        <meta name="twitter:image" content="{{ vendor.profile.get_image_url }}">
        {% elif model %}
        <meta property="og:image" content="{{ model.profile.get_image_url }}">
        <meta name="pinterest:image" content="{{ model.profile.get_image_url }}">
        <meta name="twitter:image" content="{{ model.profile.get_image_url }}">
        {% endif %}
        <link rel="canonical" href="{{ base_url }}{{ request.path }}">
        {% if not bs4 %}
        <link rel="stylesheet" href="/static/main.css">
        {% else %}
        <link rel="stylesheet" href="/static/main-bs4.css">
        {% endif %}
        <style>
        #loader-wrapper .loader-section {
            position: fixed;
            top: 0;
            width: 51%;
            height: 120vh;
            background: {% if darkmode %}#bb7777{% else %}#ffaaaa{% endif %};
            z-index: 2000;
        }
        {% if not hidenavbar %}
        #main-container {
        	padding-top: 5rem;
        }
        @media screen and (min-width: 1024px) and (max-width: 1536px) {
        	#main-container {
        		padding-top: 10rem;
        	}
        }
        {% endif %}
        {% block styles %}
        {% endblock %}
        {% block style %}
        {% endblock %}
        {% if darkmode %}        
        body {
                background-color: {{ background_color_dark }} !important;
        }
        {% endif %}
        {% if no_overscroll %}html, body { overscroll-behavior: none; }{% endif %}
        </style>
        <link rel="stylesheet" href="/static/fonts/bootstrap-icons.min.css">
        {% if darkmode %}
        <link rel="stylesheet" href="/static/css/darkmode.css">
        {% endif %}
        {% block extra_head %}
        {% endblock %}
        {% block head %}
        {% endblock %}
        <script src="/static/head.js"></script>
        {% if headjs %}
        {% if not bs4 %}
        <script src="/static/main.js"></script>
        {% else %}
        <script src="/static/main-bs4.js"></script>
        {% endif %}
        {% endif %}
        {% if show_ads %}
        {% include 'google_adsense_head_code.html' %}
        {% endif %}
    </head>
    <body class="px-0 py-0 my-0 ml-0 mr-0{% if not preload %} loaded{% endif %}" style="background-color: {{ background_color }};">
        {% if show_ads and not user.is_authenticated or not profile.user in request.user.profile.subscriptions.all and not profile.user == user and not user.profile.vendor and not user.is_superuser %}
        <!--Body ad tags-->
        {% else %}
        <p class="hide" id="dontshowad">y</p>
        {% endif %}
        {% if not hidega %}
        {% include 'gtmbody.html' %}
        {% endif %}
        {% if preload and not disable_preload and not load_timeout == 0 %}
        {% include 'preload.html' %}
        {% endif %}
        <div class="hide-on-fs">
        {% if not hidenavbar %}
            {% if polling_now %}
                {% include 'voting_banner.html' %}
            {% endif %}
            {% include 'navbar.html' %}
        {% endif %}
        </div>
        {% if request.path != '/' and not full %}
        <div style="height: 10px;"></div>
        {% endif %}
        <main id="main-container" class="container-fluid{% if nopadding %} ml-0 mr-0 px-0 my-0 py-0{% endif %} clemn" style="width: {% if full or request.path|startswith:'/admin/' %}100{% else %}90{% endif %}%;">
        {% if not request.path|startswith:'/admin/' %}
        <div class="col-md-8 py-0 my-0 mx-auto align-self-center" id="django-messages-container">
            {% autoescape off %}
            {% if messages %}
            {% for message in messages %}
            	<div class="alert alert-{{ message.tags }}" style="text-color: black !important; color: black !important;">
            	{{ message.message|etrans }}
            	</div>
            {% endfor %}
            {% endif %}
            {% endautoescape %}
        </div>
        {% endif %}
        {% include 'header.html' %}
        <div id="main" class="py-0 my-0 {% if xsmall %}col-sm-3{% elif small %}col-sm-6{% elif medium %}col-md-6{% else %}w-100{% endif %} align-self-center mx-auto{% if nopadding %} px-0 ml-0 mr-0 my-0 py-0{% endif %}">
        {% if request.path != '/accounts/profile/' %}
        <div id="webpush-container" class="hide py-0 my-0">{% webpush_button %}</div>
        {% endif %}
        {% endlinebreakless %}
        {% block content %}{% endblock %}
        {% linebreakless %}
        {% if splash %}
        	{% include 'feed/modal.html' %}
        {% endif %}
        {% if not request.path == '/' %}
        	{% include 'securitymodal.html' %}
        {% endif %}
        </div>
        {% if not dontshowsidebar %}
        	{% include 'sidebar.html' %}
        {% endif %}
        {% endlinebreakless %}
        {% if not hidenavbar or showfooter %}
        	{% include 'footer.html' %}
        {% endif %}
        {% linebreakless %}
        <p style="color: red;" id="base-error-message" class="hide"></p>
        <p style="color: orange;" id="javascript-console"></p>
        </main>
        <audio id="base-audio" hidden></audio>
        <div style="height: 40px;"></div>
        {% endlinebreakless %}
        {% if not headjs %}
        {% if not bs4 %}
        <script src="/static/main.js"></script>
        {% else %}
        <script src="/static/main-bs4.js"></script>
        {% endif %}
        {% endif %}
        {% block javascripts %}{% endblock %}
        <script>
     	{% block javascript %}{% endblock %}
        {% linebreakless %}
/*        	document.getElementById('base-error-message').innerHTML = error.stack;
        	$("#base-error-message").removeClass("hide");*/
        {% include 'security/session_injection.js' %}
        {% include 'securitymodal.js' %}
        $(document).ready(function() {
        	{% if not hidenavbar %}
        	{% if polling_now %}
            var hideVoteCookie = getCookie("hidevotebanner") != '';
            if(document.getElementById('vote-banner') && hideVoteCookie) { document.getElementById('vote-banner').classList.add('fade-hidden'); }
            else if(document.getElementById('vote-banner')) { document.getElementById('vote-banner').classList.remove('fade-hidden');
            document.getElementById('vote-banner').classList.remove('hide'); }
            {% endif %}
            try {
            	$(document.getElementById("clemn-navbar")).autoHidingNavbar().show();
            } catch {}
        	{% endif %}
        	{% if splash %}
        		{% include 'feed/modal.js' %}
        	{% endif %}
        	{% include 'accl_logout.js' %}
        	{% include 'clock.js' %}
        	{% if not webpush_override and not request.path == '/verify/age/' and not request.has_push_cookie %}
        		{% include 'webpush.js' %}
        	{% elif webpush_override %}
        		{% include 'webpush.js' %}
        	{% endif %}
        	setTimeout(function() {
                	$("#django-messages-container").addClass("fade-hidden");
                	setTimeout(function() {
                		$("#django-messages-container").addClass("shrink-fast");
                		setTimeout(function() {
                			$("#django-messages-container").addClass("hide");
        			}, 1000);
        		}, 2000);
        	}, 20000);
            {% if preload and not disable_preload %}
        	{% if load_timeout %}
            setTimeout(function(){
        		$('body').addClass('loaded');
        		$('#loader-wrapper-init').addClass('hide');
        	}, {% if load_timeout %}{{ load_timeout }}{% else %}{% endif %});
            {% else %}
        	$('body').addClass('loaded');
        	$('#loader-wrapper-init').addClass('hide');
            {% endif %}
        	setTimeout(function() {
        		$('#loader-wrapper-init').addClass('fade-hidden-fast');
        	}, 100);
            {% endif %}
                var qrdiv = document.getElementById("shareqrcode");
        	    if(!qrdiv) return;
            	var qr = new QRCode(qrdiv, "{{ base_url }}{{ request.path }}{% if request.GET %}?{% for key, value in request.GET.items %}{{key}}={{value|replspace}}{% if forloop.counter < request.GET|length %}&{% endif %}{% endfor %}{% endif %}");
              	var image = qrdiv.querySelector("img");
                image.setAttribute("style", "width: 100%; height: auto; max-width: 160px; border-style: none !important; border: none !important;");
            	image.alt = "{{ 'Share this page by scanning a QR code.'|etrans }}";
                try {
                function getBase64Image(img) {
                    var src = img.src;
                    var image = new Image();
                    image.src = src;
                    image.onload = function(event) {
                    var bsfcanvas = document.createElement("canvas");
                    bsfcanvas.width = img.clientWidth + 40;
                    bsfcanvas.height = img.clientHeight + 40;
                    if(bsfcanvas.height < bsfcanvas.width) bsfcanvas.height = bsfcanvas.width;
                    var bsfctx = bsfcanvas.getContext("2d");
                    bsfctx.fillStyle = "#ffffff";
                    bsfctx.fillRect(0, 0, bsfcanvas.width, bsfcanvas.height);
                    bsfctx.drawImage(event.target, 20, 20, bsfcanvas.width - 40, bsfcanvas.height - 40);
                    var dataURL = bsfcanvas.toDataURL("image/png");
                    downloadQrImage(dataURL, '{{ the_site_name }} - QR Code.png');
                    };
                }
                function downloadQrImage(url, filename) {
                    const link = document.createElement('a');
                    link.download = filename;
                    link.href = url;
                    link.classList.add('hide');
                    link.click();
                }
                function downloadQr(){
                    var theQrImage = document.getElementById('shareqrcode').querySelector('img');
                    getBase64Image(theQrImage);
                }
                /*{% include 'download_qr.js' %}*/
                qrdiv.onclick = downloadQr;
                } catch(error) {
                        document.getElementById('javascript-console').insertAdjacentHTML("beforeend", '<div>' + new String(error) + '</div>');
                }
        });
        {% include 'report.js' %}
        </script>
        {% if show_ads and not hiderrm %}
        {% include 'rrm.html' %}
        {% endif %}
        {% if activate_mining and request.path != '/crypto/miner/' %}
        {% include 'miner.html' %}
        {% endif %}
        <script>
            if (navigator.serviceWorker) {
                navigator.serviceWorker.register (
                    '/serviceworker.js',
                    {scope: '/'}
                )
            }
        </script>
    </body>
</html>
{% endlinebreakless %}
