{% load feed_filters %}
{% load app_filters %}
<div class="dropdown">
  <a class="btn btn-outline-info dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-globe"></i> {{ 'Language'|trans }}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}{% if lang != 'en' %}&lang=en{% endif %}">English</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=es">Española</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=fr">Français</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=de">Deutsch</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=nl">Nederlands</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=af">Afrikaans</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=ar">عربي</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=pt">Português (Portugal, Brazil)</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=id">Bahasa</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=hi">हिंदी</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=ru">Русский</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=zh-CN">中国人</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=ja">日本語</a>
    <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if not forloop.counter == request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}&lang=th">แบบไทย</a>
  </div>
</div>
