{% load feed_filters %}
{% load app_filters %}
<div class="dropdown">
  <a class="btn btn-outline-info dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-globe"></i> {{ 'Language'|etrans }}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div style="max-height: 50vh; overflow: scroll;">
{% for next_language, text_to_render in selector_languages.items %}
        <a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'lang' %}{{ key }}={{ value }}{% if forloop.counter0 < request.GET.keys|length %}&{% endif %}{% endif %}{% endfor %}{% if request.GET.lang != next_language %}lang={{ next_language }}{% endif %}">{{ text_to_render|etranslang:next_language|caps }}</a>
{% endfor %}
    </div>
  </div>
</div>
