{% extends 'web/base.html' %}
{% block head %}
<meta property="og:image" content="{{ model.profile.get_image_url }}">
<meta name="pinterest:image" content="{{ model.profile.get_image_url }}"/>
<style>
iframe { 
  width: 100%;
  aspect-ratio: 16 / 9;
}
</style>
{% endblock %}{% block content %}
{% load feed_filters %}
{% load app_filters %}
<div id="pg0">
<div class="mx-auto" style="width: 100%; max-width: 800px;"><img src="{{ model.profile.get_cover_image }}" width="100%" class="rounded"></img></div>
<h1>{{ 'My Photos'|etrans }}</h1>
<legend>{{ model_name }}</legend>
<p>{{ model.profile.bio|trans }}</p>
<p style="text-align: center;"><small>{{ model.profile.last_seen }}</small></p>
<p>{{ 'Visit my GitHub to see my'|etrans }} <a href="{{ github_url }}" title="{{ 'My projects on GitHub'|etrans }}">{{ 'projects'|etrans }}</a>.</p>
{% if model.vendor_profile.video_embed %}{% autoescape off %}
{{ model.vendor_profile.video_embed }}
{% endautoescape %}{% endif %}
{% include 'banner_ad.html' %}
<hr>
<div id="photo-page">
{% autoescape off %}
{{ init_images }}
{% endautoescape %}
</div>
</div>
{% include 'web/social.html' %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascript %}

{% autoescape off %}
function setGetParam(key,value) {
  if (history.pushState) {
    var params = new URLSearchParams(window.location.search);
    params.set(key, value);
    var newUrl = window.location.origin
          + window.location.pathname
          + '?' + params.toString();
    window.history.pushState({path:newUrl},'',newUrl);
  }
}
$(".pagebutton").on("click", function() {
    var page = parseInt(this.id.charAt(this.id.length - 1));
    for(var x = 0; x < 4; x++) {
        if(x != page) {
            $("#pg" + x).addClass("hide");
        }
    }
    setGetParam("p", page + 1);
    $("#pg" + page).removeClass("hide");
    return false;
});
var params = new URLSearchParams(window.location.search);
var images = `{{ images }}`.split('\n');
{% endautoescape %}
var container = document.getElementById('photo-page');
var lcount = 12;
var ncount = 12;
var load_next = false;
var load_last = false;
var photoPage = document.getElementById('photo-page');
var scroll_factor = 6;
var disposal_limit = 40;
function garbageDisposal(count) {
    var d = document.getElementById('div' + new String(count - disposal_limit));
    if(d) { d.remove();}
    d = document.getElementById('div' + new String(count + disposal_limit));
    if(d) { d.remove();}
}
const adsenseAd = `<iframe width="100%" src="/{{ lang }}/ad" height="700px">
</iframe>
<hr>`;
setInterval(function() {
    if($(window).scrollTop() + $(window).height() > $(document).height() - $(document).height()/scroll_factor) {
      load_next = true;
    } else {
      load_next = false;
    }
    if($(window).scrollTop() + $(window).height() < $(document).height() - ($(document).height() - $(document).height()/scroll_factor)) {
      load_last = true;
    } else {
      load_last = false;
    }
    if(ncount < images.length && load_next) {
        for(var x = 0; x < 10; x++) {
           if(!document.getElementById('div' + new String(ncount)) && images[ncount]) {
               photoPage.insertAdjacentHTML("beforeend", images[ncount] + '<hr>');
               garbageDisposal(ncount);
               ncount = ncount + 1;
            } else {
                ncount = ncount + 1;
            }
        }
	photoPage.insertAdjacentHTML("beforeend", adsenseAd);
    }
    if(lcount > 0 && load_last) {
        for(var x = 0; x < 10; x++) {
           if(!document.getElementById('div' + new String(lcount)) && images[lcount]) {
               photoPage.insertAdjacentHTML("afterbegin", images[lcount] + '<hr>');
               garbageDisposal(lcount);
               lcount = lcount - 1;
            } else {
                lcount = lcount - 1;
            }
        }
    }
}, 3000);
{% endblock %}
