{% extends 'base.html'%}
{% block head %}
<script type="text/javascript" src="/static/qrcode.min.js"></script>
{% endblock %}
{% block content %}
{% load app_filters %}
{% load crispy_forms_tags %}
<legend>{% if request.user.is_authenticated and request.user.profile.vendor and request.user == links_user %}{{ 'Your links'|etrans }}{% else %}@{{ links_user.profile.name }}'s {{ 'links'|etrans }}{% endif %}</legend>
{% if user_mode %}
<a href="{% url 'links:links' request.user.profile.name %}?show=true" title="{{ 'See your links'|etrans }}" class="btn btn-outline-info">{{ 'See your links'|etrans }}</a>
<form method="POST">
{% csrf_token %}
{{ form|crispy }}
<button class="btn btn-outline-primary" type="submit" title="{{ 'Submit form'|etrans }}">{{ 'Submit form'|etrans }}</button>
</form>
{% else %}
<div style="display: flex; justify-content: space-around;"><img src="{{ links_user.profile.get_image_url }}" style="border-radius: 50%; width: 250px;" alt="{{ links_user.profile.bio|trans }}"></div>
{% include 'language.html' %}
<hr style="visibility: hidden;">
<div style="display: inline-block;">
{% for link in links %}
{% if link.url %}
<a href="{{ link.url }}" style="border: 1px solid {{ link.color }}; {% if not darkmode %}text-color: black !important; color: black !important; {% endif %}margin: 10px;" title="{{ link.description|trans }} - {{ 'Trusted by'|etrans }} {{ the_site_name }} {{ 'on'|etrans }} {{ link.url|getdomainfromurl }}" class="btn btn-outline-light"><img src="{{ link.url|getfaviconfromurl }}" style="max-width: 18px; height: auto;"><small><i class="bi bi-shield-lock-fill" style="font-size: 9px;"></i></small> {{ link.description|etrans }}</a>
{% endif %}
{% endfor %}
</div>
{% include 'social.html' %}
{% endif %}
{% endblock %}